/**
 * En este archivo se integran los aspectos globales que
 * no dependan de otra parte de otros estilos.
 */

/* stylelint-disable selector-max-type */
/* stylelint-disable order/order */

@import 'base/basic';
@import 'globals/utils';
@import 'components/calendar';
@import 'components/interactivo';

.is-relative {
  position: relative;
}

:root {

  @each $name, $pair in $colors {
    --color-#{$name}: #{nth($pair, 1)};
    --color-#{$name}-invert: #{nth($pair, 2)};
  }
}

noscript {
  position: relative;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  color: rgba(0, 0, 0, 0.7);

  background-color: #ffdd57;
  border-radius: 3px;
}

details {
  summary {
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }
}

.video {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.course-index {
  display: flex;
  flex-wrap: wrap;

  .card {
    width: 100%;
    margin: 0;
    @include tablet {
      width: calc(#{100% / 3} - 1rem);
      margin: 0.5rem;
    }
  }
}

a > .fas {
  font-size: 2rem;
  color: $rojosensual;
}

.breadcrumb {
  display: inline-block;
  margin-top: 3rem;
  font-size: 0.8rem;
  font-weight: bolder;
  color: $white;
  background-color: $gris;

  .path {
    display: inline-block;
    width: auto;
    color: $white;
  }

  .separator,
  .current {
    display: inline-block;
    padding: 0.2rem;
    margin-right: 1rem;
  }

  a {
    color: $white;
  }
}

.container {
  @include mobile {
    padding: 1rem;
  }
}

.videoplayer {
  width: 100%;
  margin-top: 2rem;
}

.navbar {
  .container {
    padding: 0;
  }
}

.inner-selector {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-around;

  .item {
    margin: 0.5rem;

    text-align: center;
    background: $grisdarks url('/images/placeholder/meat.jpg');
    transition: background-color 0.5s ease-out;
    background-blend-mode: multiply;
    @include mobile {
      width: 95%;
      height: 60px;
      line-height: 60px;
    }

    @include tablet {
      width: 47%;
      height: 120px;
      line-height: 120px;
    }

    &:hover {
      background-color: $rojo;
      transition: background-color 0.5s ease-out;
    }

    a {
      font-weight: bolder;
      color: #fff;
      text-shadow: 2px 2px 3px $black;
    }
  }
}

p {
  margin-top: 1rem;
  line-height: 2.4rem;
  /* stylelint-disable-next-line */
  &.control {
    margin-top: 0;
  }
}

.sideimage {
  float: left;
  width: 300px;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ddd;
}

.image.fullwidth {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.max-half {
  @include desktop {
    max-width: 50%;
  }
}

.min-third {
  @include desktop {
    min-width: 30%;
  }
}

.list-complete-item {
  transition: 820ms ease;
  transition-property: opacity, transform;
}

.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute;
}

.eventlink {
  font-size: 1.4rem;
}

/* stylelint-disable-next-line */
h4.date {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  background: $gris-claro;
  border-radius: 0.4rem;
}

.date-grid {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: row;
  }

  .date-grid-item {
    width: auto;
    padding-right: 1rem;
  }
}

.image {
  img {
    object-fit: cover;
  }
}

.box-centered {
  text-align: center;
}

.emoji {
  width: 1em;
}
