<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Industria
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Centroamérica
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-h1 has-text-centered">
            Centroamérica
          </h1>
          <p class="is-size-5">
            La oficina encargada de Centroamérica y República Dominicana, suma los esfuerzos de los sectores trade, retail y foodservice para impulsar el consumo de carne Americana de res, cerdo y cordero en la región.
          </p>
        </div>
      </div>
      <industria-inner-nav />
    </div>
  </div>
</template>
<script>
import IndustriaInnerNav from '~/components/IndustriaInnerNav.vue'

export default {
  name: 'CentroAmerica',
  head() {
    return {
      title: 'Centro América',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
  components: {
    IndustriaInnerNav,
  },
}
</script>
