<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Industria
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Educación y capacitación
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-h1 has-text-centered">
            Educación y capacitación
          </h1>
          <p>actualizar</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'EducacionCapacitacion',
  head() {
    return {
      title: 'Educación y Capacitación',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
}
</script>
