<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Industria
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        HRI
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-h1 has-text-centered">
            HRI
          </h1>
          <p class="is-size-5">
            El sector <i>foodservice</i> es una pieza importante en la industria cárnica nacional, con el que USMEF México ha trabajado en conjunto para brindar capacitación a chefs y staff de cocina a través de capacitaciones técnicas y en promociones que contribuyan al consumo de la carne Americana de res, cerdo y cordero.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column has-text-centered-desktop">
          <div class="field">
            <label class="label">
              Marcas
            </label>
            <b-select
              v-model="selectedBrand"
              class="has-text-centered-desktop"
              placeholder="Selecciona una marca"
              rounded
              @change.native="selectedCity = null">
              <option
                :value="null">
                Todas
              </option>
              <option
                v-for="brand in brands"
                :key="brand.name"
                :value="brand.name">
                {{ brand.name }}
              </option>
            </b-select>
          </div>
        </div>
      </div>
      <div
        v-if="selected.length === 0"
        class="notification is-info">
        <h4 class="title has-text-centered">
          No hay resultados
        </h4>
      </div>
      <transition-group
        class="columns is-centered is-multiline"
        tag="div"
        mode="out-in"
        name="list-complete"
        @before-leave="beforeLeave">
        <div
          v-for="sucursal in selected"
          :key="sucursal.id"
          class="list-complete-item column is-3-widescreen is-6 is-4-desktop">
          <marca-contact-card
            :logo="sucursal.logo"
            :city="sucursal.city"
            :website="sucursal.website"
            :brand="sucursal.brand"
            :phones="sucursal.phones" />
        </div>
      </transition-group>
    </div>
  </div>
</template>
<script>
import MarcaContactCard from '~/components/MarcaContactCard.vue'
import SortCompanies from '~/mixins/SortCompanies'

export default {
  name: 'Hri',
  head() {
    return {
      title: 'HRI',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
  components: { MarcaContactCard },
  mixins: [SortCompanies],
  data: () => ({
    showPhones: false,
    locaciones: [
      {
        id: 1,
        brand: 'Cargill de México',
        logo: '/marcas/cargill-logo.jpg',
        city: 'Qro, Querétaro',
        phones: ['4422179011'],
        website: 'https://www.cargill.com.mx/es/prote%C3%Adna',
      },
      {
        id: 2,
        brand: 'Tyson Fresh Meats',
        logo: '/marcas/tysonlogo.png',
        city: 'Monterrey, NL',
        phones: ['8112231724'],
        website: 'http://www.tysonfreshmeats.com/',
      },
      {
        id: 45,
        brand: 'Alimentos RYC',
        logo: '',
        city: 'Ciudad de México',
        phones: [],
        website: 'http://rycfoodservice.rycalimentos.com/ryc2016/index.php',
      },
      {
        id: 3,
        brand: 'JBS',
        logo: '/marcas/jbs.png',
        city: 'San Antonio, Tx',
      },
      {
        id: 4,
        brand: 'Comercial Norteamericana',
        logo: '/marcas/comnor.png',
        city: 'Ciudad de México',
        phones: ['5553410882'],
      },
      {
        id: 5,
        brand: 'Comercial Norteamericana',
        logo: '/marcas/comnor.png',
        city: 'Edo. de México',
        phones: ['5553410882'],
      },
      {
        id: 6,
        brand: 'XO de Chiuaua',
        logo: '/marcas/xo.jpg',
        city: 'Ciudad de México',
        phones: ['5529743999'],
        website: 'http://www.xodechihuahua.com.mx/',
      },
      {
        id: 7,
        brand: 'HSM',
        logo: '/marcas/hsm.jpg',
        city: 'Ciudad de México',
        phones: ['5562775658'],
      },
      {
        id: 8,
        brand: 'Alimentos RYC',
        logo: '/marcas/ryc.png',
        city: 'Puebla, Puebla',
        phones: ['2227740000'],
        website: 'http://rycfoodservice.rycalimentos.com/ryc2016/index.php',
      },
      {
        id: 15,
        brand: 'Sigma',
        logo: '/marcas/sigma.jpg',
        city: '',
        // phones: ['59137006', '62776014 ext 119'],
        website: 'http://csfoodservice.com.mx/',
      },
      {
        id: 9,
        brand: 'Prime Foods',
        logo: '',
        city: 'Ciudad de México',
        phones: ['55933832'],
        website: 'http://www.arracheramarcadiablo.com/prime-foods-mexico',
      },
      {
        id: 10,
        brand: 'Vigar',
        logo: '/marcas/vigar.png',
        city: 'Monterrey, N.L.',
        phones: ['018183471354'],
        website: 'http://www.vigar.com.mx/',
      },
      {
        id: 11,
        brand: 'Salud y Sabor',
        logo: '',
        city: 'Veracruz, Ver.',
        phones: ['2299254019'],
      },
      {
        id: 17,
        brand: 'Suzazón',
        logo: '/marcas/suzazon.svg',
        city: 'Celaya, Guanajuato',
        phones: ['014616116744', '014616116766'],
        website: 'http://susazon.com/',
      },
      {
        id: 16,
        brand: 'Comercializadora HSM',
        logo: '/marcas/hsm.jpg',
        city: '',
        phones: ['59137006', '62776014 ext 119'],
        // website: 'http://rycfoodservice.rycalimentos.com/ryc2016/index.php',
      },
      {
        id: 14,
        brand: 'Gastrosophia',
        logo: '/marcas/gastrosophia.png',
        city: '',
        // phones: ['59137006', '62776014 ext 119'],
        website: 'http://www.gastrosophia.com.mx/',
      },
    ],
  }),
}
</script>
