<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Industria
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-1 has-text-centered">
            Industria
          </h1>

          <p class="is-size-5">
            La misión de USMEF es elevar el valor y la rentabilidad de la industria de la carne de res, cerdo y cordero Americana, mediante el incremento en la demanda de sus productos en los mercados de exportación a través de una asociación dinámica entre todos los interesados.
          </p>

          <p>En pocas palabras, USMEF está "colocando la carne de Estados Unidos en las mesas del mundo".</p>
        </div>
      </div>

      <industria-inner-nav />
    </div>
  </div>
</template>
<script>
import IndustriaInnerNav from '~/components/IndustriaInnerNav.vue'

export default {
  name: 'Industria',
  head() {
    return {
      title: 'Industria',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Conoce los sectores en los cuales enfocamos nuestros esfuerzos',
        },
      ],
    }
  },
  components: {
    IndustriaInnerNav,
  },
}
</script>
