<template lang="html">
  <div class="pg-retail">
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Industria
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Retail
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-h1 has-text-centered">
            Retail
          </h1>
          <p class="is-size-5">
            Entablar relaciones comerciales cercanas con las tiendas de autoservicio más importantes del país para promover el consumo de los productos de carne de res, cerdo y cordero Americana, es el objetivo principal del sector retail en USMEF México. ¿Cómo lo logra? Por medio de promociones, activaciones y degustación de los productos en puntos de venta.
          </p>
        </div>
      </div>
    </div>
    <div class="bx_interactivo">
      <iframe
        src="https://wdinamo.com/prototipos/USMEF/infografia_Retail_Final/infografia_Retail.html"
        class="interactive"
        frameborder="0" />
    </div>
  </div>
</template>
<script>
export default {
  name: 'Retail',
  head() {
    return {
      title: 'Retail',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
}
</script>
  <style lang="scss">
.pg-retail {
  .interactive {
    width: 100%;
    height: 700px;
    margin: 0;
    // border: 1px solid lime
  }
}
</style>
