<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Industria
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Servicios técnicos
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-h1 has-text-centered">
            Servicios técnicos
          </h1>
          <p class="is-size-5">
            Una labor que caracteriza a USMEF es la búsqueda de tecnologías de vanguardia y conocimientos técnicos que puedan ser aplicados para mejorar la oferta de sus socios en el mercado nacional, por medio de seminarios de cooperación con representantes de entidades públicas y privadas, enfocados al proceso de importación.
          </p>
          <picture class="inner-image">
            <source
              srcset="/images/procesoimportacion@small.jpg 400w"
              media="(max-width: 959px)">
            <source srcset="/images/procesoimportacion.jpg 401w">
            <img
              src="/images/procesoimportacion.jpg"
              alt="Guía de exportación">
          </picture>
          <div class="docs-container">
            <div class="year">
              <a
                href="/docs/exportacion.pdf"
                target="_blank" 
                rel="noopener noreferrer">
                <i class="far fa-file-pdf" />
                Guía de exportación
              </a>
            </div>
          </div>
          <div class="box-centered">
            <p>
              ¿Tienes dudas del proceso de importación? <br>
              <button
                class="button is-primary"
                @click="openContactModal('avaldez@usmef.org')">
                Contáctanos
              </button>
            </p>
            <!--avaldez@usmef.org-->
          </div>
        </div>
      </div>
    </div>
    <b-modal
      :active.sync="showContactModal"
      has-modal-card>
      <generic-form
        :default-mail="selectedMail"
        class="card" />
    </b-modal>
  </div>
</template>
<script>
import GenericForm from '~/components/GenericForm.vue'

export default {
  name: 'ServiciosTecnicos',
  head() {
    return {
      title: 'ServiciosTecnicos',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
  components: { GenericForm },
  data: () => ({
    showContactModal: false,
    selectedMail: null,
  }),
  methods: {
    openContactModal(mail) {
      if (!mail) return
      this.selectedMail = mail
      this.showContactModal = true
    },
  },
}
</script>
<style lang="scss" scoped>
@import '~assets/sass/base/basic';

.docs-container {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $gris-claro;
  border-radius: 0.5rem;

  .title {
    color: $gris;
    border-bottom: 1px solid $gris-claro;
  }

  .year {
    display: flex;
    justify-content: space-around;
    @include mobile {
      text-align: left;
      flex-direction: column-reverse;
    }
    @include tablet {
      text-align: center;
      flex-direction: row;
      align-items: center;
    }

    .a {
      margin: 1rem;
    }
  }
}
</style>
