<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <nuxt-link
        to="/industria"
        class="path">
        Industria
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Trade
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-h1 has-text-centered">
            Trade
          </h1>
          <p class="is-size-5">
            El sector trade se dedica a generar lazos de confianza con los importadores, distribuidores y procesadores de carne de res, cerdo y cordero Americana en México, a través de la capacitación en los distintos niveles de la cadena productiva y de la promoción de sus productos, para llevar carne de calidad a las mesas de los mexicanos.
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="column has-text-centered-desktop">
          <div class="field">
            <label class="label">
              Marcas
            </label>
            <b-select
              v-model="selectedBrand"
              class="has-text-centered-desktop"
              placeholder="Selecciona una marca"
              rounded
              @change.native="selectedCity = null">
              <option
                :value="null">
                Todas
              </option>
              <option
                v-for="brand in brands"
                :key="brand.name"
                :value="brand.name">
                {{ brand.name }}
              </option>
            </b-select>
          </div>
        </div>
        <div class="column has-text-centered-desktop">
          <label class="label">
            Ciudades
          </label>
          <div class="field">
            <b-select
              v-model="selectedCity"
              class="has-text-centered-desktop"
              placeholder="Selecciona una ciudad"
              rounded>
              <option
                :value="null">
                Todas
              </option>
              <option
                v-for="city in availableCities"
                :key="city"
                :value="city">
                {{ city }}
              </option>
            </b-select>
          </div>
        </div>
      </div>

      <div
        v-if="selected.length === 0"
        class="notification is-info">
        <h4 class="title has-text-centered">
          No hay resultados
        </h4>
      </div>
      <transition-group
        class="columns is-centered is-multiline"
        tag="div"
        mode="out-in"
        name="list-complete"
        @before-leave="beforeLeave">
        <div
          v-for="(sucursal) in selected"
          :key="sucursal.name"
          class="list-complete-item column is-4-desktop is-6">
          <marca-sucursal-card
            :logo="sucursal.logo"
            :brand="sucursal.brand"
            :name="sucursal.name"
            :phones="sucursal.phones"
            :faxes="sucursal.faxes"
            :mails="sucursal.mails"
            :maps-url="sucursal.mapsUrl"
            :embed-maps-url="sucursal.embedMapUrl"
            :address="sucursal.address" />
        </div>
      </transition-group>
    </div>
  </div>
</template>
<script>
import MarcaSucursalCard from '~/components/MarcaSucursalCard.vue'
import SortCompanies from '~/mixins/SortCompanies'

/* eslint-disable max-len */

export default {
  name: 'Trade',
  head() {
    return {
      title: 'Trade',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
  components: { MarcaSucursalCard },
  mixins: [SortCompanies],
  data: () => ({
    locaciones: [
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'Matriz',
        city: 'Ciudad de México',
        address: 'LAGO CUITZEO #113 COL. ANAHUAC. CP. 11320, México DF.',
        mapsUrl: 'https://goo.gl/maps/8gKLQ2Ykn6o',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d913.7831739753104!2d-99.1745244578451!3d19.445379098358167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8ba16e2e4bd%3A0xe5079a8854ad475f!2sXO+de+Chihuahua!5e0!3m2!1ses-419!2smx!4v1524150688490',
        mails: [
          'fernando@visadelnorte.com.mx',
          'arturo.ortega@visadelnorte.com.mx',
        ],
        phones: ['29-74-39-99'],
        faxes: ['53-96-55-44'],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: '',
        city: 'Cancún, Q.R.',
        address:
          'Carretera Fed. 307 Chetumal-Puerto Juarez Mz 2 Lte 01 Int 1 Col. SM 34 RANCHO SANTA ELENA Puerto Morelos, Q.R',
        mapsUrl: 'https://goo.gl/maps/YSY2Dj9unf32',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.0611168071814!2d-86.87497678537048!3d20.930911186051503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2b796bffffff%3A0xc69d217c9fb3cb2c!2sXO+de+Chihuahua!5e1!3m2!1ses-419!2smx!4v1524152736859',
        mails: [
          'jl.martinez@visadelnorte.com.mx',
          'pedidosxocancun@visadelnorte.com.mx',
        ],
        phones: [],
        faxes: ['0199 88 86 29 55'],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'X.O. CENTRO, S.A. DE C.V.',
        city: 'Santiago de Querétaro, Qro.',
        address: 'San Ignacio 125, Santiago, 76179 Santiago de Querétaro, Qro.',
        mapsUrl: 'https://goo.gl/maps/DNAU4wRrJQr',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.6948228953715!2d-100.4158374853769!3d20.58665488623951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35acae148349d%3A0xbdb5bc8d1667ccad!2sXo+Del+Centro!5e1!3m2!1ses-419!2smx!4v1524152899042',
        mails: ['luis.delosreyes@xodelcentro.com.mx'],
        phones: ['01 442 242 26 21', ' 01 442 216 36 66'],
        faxes: [],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'SUCURSAL CABOS',
        city: 'Cabo San Lucas, B.C.S.',
        address:
          'BORDO Y CARRETERA A TODOS SANTOS  S/N COL. EJIDAL  C.P. 23410  CABO SAN LUCAS  BAJA CALIFORNIA SUR',
        mapsUrl: 'https://goo.gl/maps/Njyv8bRnF8S2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3387.802011209401!2d-109.92723168357925!3d22.899381150026883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses-419!2smx!4v1524154182955',
        mails: ['aalmeida@visadelnorte.com'],
        phones: ['01 624 143 15 18', ' 01 624 105 19 22'],
        faxes: ['01 624 143  72 76'],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'X.O. DE OCCIDENTE, SA DE CV',
        city: 'Puerto Vallarta, Jal.',
        address:
          'Lateral Libramiento Luis Donaldo Colosio #122, Col. Olímpica, Olímpica, 48330 Puerto Vallarta, Jal.',
        mapsUrl: 'https://goo.gl/maps/UtDJ2viQ3QU2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4696.621637288675!2d-105.23041348453576!3d20.630480286215537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8421455d1d7222e1%3A0x920132e573cc2eb!2sCARNICERIA+XO+DE+OCCIDENTE!5e1!3m2!1ses-419!2smx!4v1524154543791',
        mails: ['israel.mtz@xodeoccidente.com'],
        phones: ['01 322 22 34025', ' 01 322 22 39877', ' 01 322 22 35291'],
        faxes: [],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'X.O. DE ORIENTE, SA DE CV SUCURSAL GUADALAJARA',
        city: 'Puebla, Pue.',
        address:
          'BOULEVAR HEROES DEL 5 DE MAYO NORTE No. 2523 INT. 2 COL. CLEOTILDE TORRES, PUEBLA, PUE.C.P. 72050. R.F.C. XOR 100728 A22',
        mapsUrl: 'https://goo.gl/maps/inEpby833zS2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4742.9395422573!2d-98.20202863455533!3d19.07321713708951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc13e25fcd2ad%3A0x143771ed56682633!2sXo+De+Oriente!5e1!3m2!1ses-419!2smx!4v1524154710575',
        mails: [
          'jose.irastorza@visadelnorte.com.mx',
          'german.silva@xodeoriente.com.mx',
        ],
        phones: ['01 222 19 52 700'],
        faxes: [],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'X.O. Del CENTRO, SA DE CV',
        city: 'Guadalajara, Jal.',
        address: 'EUCALIPTO #2579 COL. EL FRESNO C,P. 44900 GUADALAJARA, JAL.',
        mapsUrl: 'https://goo.gl/maps/JfDkB7NYsHs',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.26103470705!2d-103.3807739!3d20.6589565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ade093869669%3A0xa27acddfea16cf4e!2sX.O.+del+Centro!5e0!3m2!1ses-419!2smx!4v1524155075742',
        mails: ['sara.gonzalez@xodelcentro.com.mx'],
        phones: ['01 3318 95 4616'],
        faxes: [],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'CHIHUAHUA MEAT VISA QUALITY, S.A. DE C.V.',
        city: 'Chihuahua, Chih.',
        address:
          'OCTAVIO PAZ NO. 149 COL. COMPLEJO INDUSTRIAL CHIHUAHUA. PLANTA TIF No. 450',
        mapsUrl: 'https://goo.gl/maps/wj7Ya2qrRAM2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1040.198964413485!2d-106.13455595914338!3d28.72557262866604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ea418d19c7047f%3A0x2d706a89757ab45!2sVisa+del+Norte!5e0!3m2!1ses-419!2smx!4v1524155295110',
        mails: ['victor.silva@visadelnorte.com.mx'],
        phones: ['01-800-877-84-72', ' 01-614-442-93-00'],
        faxes: [],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'FRANQUICIA VISA DEL NORTE- INTERLOMAS',
        city: 'Huixquilucan, Edo. Mex.',
        address:
          'LOMAS DE SAN FERNANDO MZA 3 LOTE 3, LOMAS DEL OLIVO. HUIXQUILUCAN, EDO DE MEXICO',
        mapsUrl: 'https://goo.gl/maps/M3Qge3i3UaB2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d559.4505758734222!2d-99.277421896401!3d19.38993145663109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2012d686c9d41%3A0xa630bd70db7717ed!2sVISA+DEL+NORTE!5e0!3m2!1ses-419!2smx!4v1524156132836',
        mails: [],
        phones: ['52-53-40-80'],
        faxes: [],
        website: '',
      },
      {
        brand: 'X.O.  DE CHIHUAHUA, S.A. DE C.V.',
        logo: '/marcas/xo.jpg',
        name: 'FRANQUICIA VISA DEL NORTE- ZONA ESMERALDA.',
        city: 'Atizapán de Zaragoza, Estado de México',
        address:
          'CALLE DR. JORGE JIMENEZ CANTÚ, Manzana 3, Lote 4 Local 2B Col.  Bosque Esmeralda C.P. 52923 Atizapán de Zaragoza, Edo. De México',
        mapsUrl: 'https://goo.gl/maps/RmBnZaR5P6D2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1329.2645772918681!2d-99.29214487028116!3d19.553288393198837!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d21b6fb217f573%3A0x6b9b5f3b336cb0d5!2sCentro+Comercial+Espacio+Esmeralda!5e0!3m2!1ses-419!2smx!4v1524157035757',
        mails: [],
        phones: [],
        faxes: [],
        website: '',
      },
      {
        brand: 'Carnes PV',
        logo: '/marcas/pazvi.jpg',
        name: '',
        city: 'Ciudad de México',
        address:
          'Calle 7 #338 Col. Agrícola Pantitlán, Del. Iztacalco. Cp. 08100. México DF.',
        mapsUrl: 'https://goo.gl/maps/wURFGQjrbZk',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.941254131767!2d-99.05897978585926!3d19.414944046277718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fc8aa17ba089%3A0xf409c3a967a5a1b7!2sProveedora+de+Carnes+Pazvi+S.A.+de+C.V.!5e0!3m2!1ses-419!2smx!4v1524158261322',
        mails: ['gerardocavazos@carnespv.com'],
        phones: ['(55) 57016800', ' 01 800 112 72384'],
        faxes: [],
        website: '',
      },
      {
        brand: 'MEATVIEN DE MEXICO SA DE CV',
        logo: '/marcas/meatviande.jpg',
        name: '',
        city: 'Ciudad de México',
        address:
          'Calle 3 267-269, Agrícola Pantitlán, 08100 Ciudad de México, CDMX',
        mapsUrl: 'https://goo.gl/maps/DLJyUV4VqN72',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.9385505163805!2d-99.06648538585927!3d19.415060846274034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fc67146b4f53%3A0xd53f3e8316e2ecd1!2sMeatviende+de+Mexico!5e0!3m2!1ses-419!2smx!4v1524158296849',
        mails: [
          'jsantiago_hr@hotmail.com',
          'alonsoj_br@yahoo.com.mx',
          'victor.santher@hotmail.com',
          'mickelsanther@hotmail.com',
        ],
        phones: ['5581 2225', ' 5581 3147', ' 5581 3619'],
        faxes: [],
        website: '',
      },
      {
        brand: 'Grupo Lunvel',
        logo: '/marcas/lunvel.jpg',
        name: '',
        city: 'Ciudad de México',
        address:
          'Circuito de Frutas de Legumbres , Pasillo 5, Local J-192 Central de Abasto Iztapalapa , Ciudad de Mexico C.P.09040',
        mapsUrl: 'https://goo.gl/maps/35NZfai5qEE2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1330.7340873443084!2d-99.08891516165721!3d19.37415800362677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fdc5050a7fef%3A0x5084fb226bc8ec24!2sCentral+De+Abasto!5e0!3m2!1ses-419!2smx!4v1524161641032',
        mails: [],
        phones: ['011 52 55 6840 7509'],
        faxes: [],
        website: '',
      },
      {
        brand: 'Carnes Selectas Ali',
        logo: '/marcas/carnes-selectasl-ali.jpg',
        name: 'Matriz',
        city: 'Cuautitlan Izcalli, Edo. Mex.',
        address:
          'Avenida de las Minas Manzana 4 Lote 8 Lomas de los Angeles, Cuautitlan Izcalli, Estado de México. C.P. 54710',
        mapsUrl: 'https://goo.gl/maps/8wMLUwz45rt',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.988961145917!2d-99.24265488585503!3d19.67047633812991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d21f04422730e5%3A0x5ced73e0742619ce!2sCarnes+Selectas+Ali+S.A.+de+C.V.!5e0!3m2!1ses-419!2smx!4v1524162094251',
        mails: [],
        phones: [],
        faxes: [],
        website: '',
      },
      {
        brand: 'Carnes Selectas Ali',
        logo: '/marcas/carnes-selectasl-ali.jpg',
        name: 'Merced 1 y  2',
        city: 'Ciudad de México',
        address:
          'Calle San Ciprian No. 20 E y 76 Venustiano Carranza, Merced Balbuena, Ciudad de México. C.P. 15810',
        mapsUrl: 'https://goo.gl/maps/GXnLifFrqpj',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.6919071751886!2d-99.12401278585911!3d19.425713345936384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1feb64a4622bb%3A0xc652c9e32d16fe!2sCarnes+Selectas+Ali!5e0!3m2!1ses-419!2smx!4v1524162135263',
        mails: [],
        phones: [],
        faxes: [],
        website: '',
      },
      {
        brand: 'Carnes Selectas Ali',
        logo: '/marcas/carnes-selectasl-ali.jpg',
        name: 'Calle 7',
        city: 'Nezahualcóyotl, Edo. Mex.',
        address:
          'Calle 7 No. 71 Nezahualcóyotl, Juárez Pantitlán, Ciudad Nezahualcoyotl. C.P. 54760',
        mapsUrl: 'https://goo.gl/maps/71dY3eaGgnx',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.197216572889!2d-99.05985828585949!3d19.403883046628113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fc5871ad54fb%3A0x84af8aa7152791a6!2sCARNES+SELECTAS+ALI!5e0!3m2!1ses-419!2smx!4v1524162065764',
        mails: [],
        phones: [],
        faxes: [],
        website: '',
      },
      {
        brand: 'Carnes Selectas Ali',
        logo: '/marcas/carnes-selectasl-ali.jpg',
        name: 'Cancún',
        city: 'Cancún, Q.R.',
        address:
          'Carretera Cancun - Aeropuerto kilometro 14.5 Bodega 66 Benito Juarez, Alfredo V Bonfil, Quintana Roo.',
        mapsUrl: 'https://goo.gl/maps/RUKnJy2pksB2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1107.060031040152!2d-86.85124864649164!3d21.0450365423533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2bd0a90bae6f%3A0xfc611794349c586e!2sCentral+de+Abastos!5e0!3m2!1ses-419!2sus!4v1524162819485',
        mails: [],
        phones: [],
        faxes: [],
        website: '',
      },
      {
        brand: 'Carnes Selectas Ali',
        logo: '/marcas/carnes-selectasl-ali.jpg',
        name: 'Ejidos',
        city: 'Tlalnepantla de Baz, Edo. Mex.',
        address:
          'Avenida Ejidos No. 72 Tlalnepantla de Baz, Los Reyes Ixtacala 1ra Sección, Estado de México. C.P. 54090',
        mapsUrl: 'https://goo.gl/maps/pZnoF7ASxdH2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.3294299660056!2d-99.19570248585745!3d19.527465442702205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d21d54f7ae1389%3A0xcf73f7db9747ab2a!2sCarnes+Selectas+Ali!5e0!3m2!1ses-419!2smx!4v1524162020044',
        mails: [],
        phones: [],
        faxes: [],
        website: '',
      },
      {
        brand: 'Carnes Selectas Ali',
        logo: '/marcas/carnes-selectasl-ali.jpg',
        name: 'Puebla',
        city: 'Puebla, Pue.',
        address:
          'Avenida 18 Poniente 501-A Puebla Centro, Puebla (Heroica Puebla) C.P. 72000',
        mapsUrl: 'https://goo.gl/maps/Lksof2otaHR2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.2096731463816!2d-98.23230518586591!3d19.010480258970553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc7572d46622b%3A0x9db78839da33241!2sCarnes+Selectas+Ali!5e0!3m2!1ses-419!2smx!4v1524162176438',
        mails: [],
        phones: [],
        faxes: [],
        website: '',
      },
      {
        brand: 'CARNES CERTIFICADAS DE SONORA S.A DE C.V.',
        logo: '/marcas/cafison.jpg',
        name: '',
        city: 'Zapopan, Jal.',
        address: 'AVENIDA VALLARTA #4951 ZAPOPAN JALISCO',
        mapsUrl: 'https://goo.gl/maps/qMuNG4XiDBu',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.7055174033117!2d-103.42164988583761!3d20.67817320503164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae93cd575e73%3A0x21137aec28751115!2sCarnes+Certificadas+De+Sonora+Sa+De+Cv!5e1!3m2!1ses-419!2sus!4v1524163002935',
        mails: ['contacto@cafison.com'],
        phones: ['(33)3629-5159'],
        faxes: [],
        website: 'www.cafison.com.mx',
      },
      {
        brand: 'Granjero Feliz S de RL de CV',
        logo: '/marcas/granjero-feliz.jpg',
        name: '',
        city: 'Palo Alto de Abajo, Gto.',
        address:
          'KM 26 CARR FED LA PIEDAD-PENJAMO S/N PALO ALTO DE ABAJO PENJAMO , GUANAJUATO 36947',
        mapsUrl: 'https://goo.gl/maps/uV9ky9Va6vv',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956715.0309022475!2d-103.13347284135997!3d20.499334522828782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c168510000001%3A0x8637056e5c026378!2sGranjero+Feliz!5e0!3m2!1ses-419!2smx!4v1524163402955',
        mails: [],
        phones: ['3336486360'],
        faxes: [],
        website: 'www.granjero-feliz.com',
      },
      {
        brand: 'FRIGORIFICA CONTRERAS SA DE CV',
        logo: '/marcas/frigorifica-contreras.jpg',
        name: '',
        city: 'Hermossillo, Son.',
        address:
          'CARRETERA A SAHUARIPA KM 1 S N COL. PARQUE INDUSTRIAL, CP: 83299, HERMOSILLO, SONORA.',
        mapsUrl: 'https://goo.gl/maps/29tcbjChn6R2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3488.5145189819873!2d-110.93718526768176!3d29.031359331541026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ce8530fbc4cec3%3A0x612ab930a4994b52!2sFrigorifica+Contreras!5e0!3m2!1ses-419!2smx!4v1524164354955',
        mails: [],
        phones: ['662-1082200'],
        faxes: [],
        website: 'http://www.carnesjc.com/',
      },
      {
        brand: 'Dipcen',
        logo: '/marcas/dipcen.png',
        name: 'Consorcio Dipcen SA de CV',
        city: 'Tlalnepantla de Baz, Edo. Mex.',
        address:
          'Calle 16 de Septiembre, Mz. B Lote 8, No. 5, Col. Pueblo los Reyes Iztacala, Tlalnepantla. Estado de Mexico, C.P. 54090.',
        mapsUrl: 'https://goo.gl/maps/JK7TqcXLboT2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7521.015519183536!2d-99.19237002338812!3d19.519802559566052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d5ddaa96228280d!2sConsorcio+Dipcen!5e0!3m2!1ses-419!2smx!4v1524247550284',
        phones: ['91718350 Ext: 512,515,516,523 y 525'],
        faxes: ['91718359'],
      },
      {
        brand: 'Dipcen',
        logo: '/marcas/dipcen.png',
        name: 'Sucursal Bajio',
        city: 'Leon, Gto.',
        address:
          'Prolongacion Juarez No.1906. Colonia Los Fresnos Leon, Guanajuato, Mexico C.P. 37390',
        mapsUrl: 'https://goo.gl/maps/myBkMFEsqhE2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d4667.230919113688!2d-101.6901389740206!3d21.10640786281672!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbf9a2438e7cd%3A0x9a2dd89128953486!2sJu%C3%A1rez+1906%2C+Los+Fresnos%2C+37390+Le%C3%B3n%2C+Gto.!5e1!3m2!1ses-419!2smx!4v1524248384137',
        phones: ['(01 477)7072595', '(01 477)7072596'],
        faxes: [],
      },
      {
        brand: 'Dipcen',
        logo: '/marcas/dipcen.png',
        name: 'Sucursal Sur Central de Abastos CEDA',
        city: 'Ciudad de México',
        address:
          'Canal Rio Churubusco No. 50 Colonia Ejidos del Moral Mercado de Aves y Carnicos. Central de Abastos. Bodega D-9 Iztapalapa. C.P. 09040. Mexico,D.F. ',
        mapsUrl: 'https://goo.gl/maps/unszNbYoQyn',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4719.723689445919!2d-99.08868198462612!3d19.36843774774703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fdc3b14c8feb%3A0xe0b1fbd02454436b!2sDipcen!5e1!3m2!1ses-419!2smx!4v1524248472033',
        phones: ['(01 55) 56005260', '(01 55) 56002009', '(01 55) 56007805'],
        faxes: [],
      },
      {
        brand: 'Dipcen',
        logo: '/marcas/dipcen.png',
        name: 'Sucursal Norte Mercado de Ferreria',
        city: 'Ciudad de México',
        address:
          'Avenida de las Granjas No.800. Colonia Santa Catarina Azcapotzalco, D.F. C.P.02250',
        mapsUrl: 'https://goo.gl/maps/6jVv6vMwVBx',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470.13298726136156!2d-99.1734201859403!3d19.49588651552994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f86ead28e963%3A0xeb3a79f39bcfe6dd!2sAv.+de+las+Granjas+800%2C+Santa+Catarina%2C+02230+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1524248712203',
        phones: ['(01 55) 53182971', '(01 55) 53839682'],
        faxes: [],
      },
      {
        brand: 'Alimeats',
        logo: '/marcas/alimeats.jpg',
        name: '',
        city: 'Querétaro, Qro',
        address:
          'Carretera a Chichimequillas Km 4.5 Col. San Jose El Alto, Querétaro Qro. CP: 76147',
        mapsUrl: 'https://goo.gl/maps/wgmM8NS3qMr',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.848062967135!2d-100.39552604904715!3d20.635044506409265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35b00134e71e5%3A0x611b03741e36e7fb!2sLateral+a+Chichimequillas+2%2C+Menchaca+II%2C+76147+Santiago+de+Quer%C3%A9taro%2C+Qro.!5e0!3m2!1ses-419!2smx!4v1524597367082',
        phones: [],
        faxes: [],
      },
      /** Atlantic */
      {
        brand: 'Atlantic Prime',
        logo: '/marcas/atlantic.jpg',
        name: '',
        city: 'Querétaro, Qro',
        address:
          'Avenida David Alfaro Siqueiros 106 1705 66269 Colonia Del Valle Sector Oriente Mty',
        mapsUrl: 'https://goo.gl/maps/LdVETeAMXsj',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.8845867976047!2d-100.32406494899023!3d25.641955719723704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be437dd62413%3A0x3c865710c426b3f3!2sAtlantic+Prime+Monterrey!5e0!3m2!1ses-419!2smx!4v1524597553409',
        phones: ['01 81 1287 0064'],
        faxes: [],
      },
      {
        brand: 'Atlantic Prime',
        logo: '/marcas/atlantic.jpg',
        name: 'Atlantic Prime Monterrey',
        city: 'Monterrey, N.L.',
        address: 'FRESNOS NORTE 3315 COLONIA MODERNA, C.P. 64530, mty, N.L',
        mapsUrl: 'https://goo.gl/maps/NEgrBgRWmLH2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.8847325288684!2d-100.32405958498147!3d25.64195088369127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be437dd62413%3A0x3c865710c426b3f3!2sAtlantic+Prime+Monterrey!5e0!3m2!1ses-419!2smx!4v1525368437672',
        phones: ['+52 (81) 4739 5161', '8119 88 6254'],
        faxes: [],
      },
      /** Dilusa */
      {
        brand: 'Dilusa',
        logo: '/marcas/dilusa.png',
        name: '',
        city: 'Querétaro, Qro',
        address:
          'Av Jesús María Romo 138, Col. Industrial, 20290 Aguascalientes, Ags.',
        mapsUrl: 'https://goo.gl/maps/FWvTJD1NUnG2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3703.6682415571995!2d-102.28367864903495!3d21.831745565184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429eda3c9227329%3A0xcd3308d94b5bb2a4!2sEMPACADORA+DILUSA+DE+AGUASCALIENTES+SA+DE+CV!5e0!3m2!1ses-419!2smx!4v1524597851026',
        phones: ['01 449 922 2444'],
        faxes: [],
      },
      {
        brand: 'Dilusa',
        logo: '/marcas/dilusa.png',
        name: '',
        city: 'Querétaro, Qro',
        address:
          'Av Jesús María Romo 138, Col. Industrial, 20290 Aguascalientes, Ags.',
        mapsUrl: 'https://goo.gl/maps/FWvTJD1NUnG2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3703.6682415571995!2d-102.28367864903495!3d21.831745565184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429eda3c9227329%3A0xcd3308d94b5bb2a4!2sEMPACADORA+DILUSA+DE+AGUASCALIENTES+SA+DE+CV!5e0!3m2!1ses-419!2smx!4v1524597851026',
        phones: ['01 449 922 2444'],
        faxes: [],
      },
      /** SIGMA */
      {
        brand: 'Sigma',
        logo: '/marcas/sigma.jpg',
        name: '',
        city: 'Santa Catarina, N.L.',
        address: 'Av Acueducto 600, El Lechugal, 66376 Santa Catarina, N.L.',
        mapsUrl: 'https://goo.gl/maps/uXw1V4Vgv9t',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.1346539737383!2d-100.44637488498103!3d25.66683068367996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629800ba48c28d%3A0x94f3fc09342af5d2!2sAv+Acueducto+600%2C+Sin+Nombre+de+Col+25%2C+Santa+Catarina%2C+N.L.!5e0!3m2!1ses-419!2smx!4v1525367414998',
        phones: ['+52 (81) 8625 8400'],
        faxes: [],
      },
      /** VIGAR */
      {
        brand: 'Vigar',
        logo: '/marcas/vigar.png',
        name: 'Distribuidora Guadalupe',
        city: 'Guadalupe, N.L.',
        address:
          'Central de Abastos Monterrey, Av. Chapultepec #700 Interior #62, Guadalupe, Nuevo León, México',
        mapsUrl: 'https://goo.gl/maps/doLs5ZCwSvL2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.1379314875644!2d-100.26664668455749!3d25.666722018788533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662c0064a593f0d%3A0x118f2743dff767b5!2sCENTRAL+DE+ABASTOS+MONTERREY!5e0!3m2!1ses-419!2smx!4v1525367758111',
        phones: ['+528113654165 ext. 148'],
        website: 'http://www.vigar.mx/',
        faxes: [],
      },
      {
        brand: 'Vigar',
        logo: '/marcas/vigar.png',
        name: 'Corporativo',
        city: 'Monterrey, N.L.',
        address:
          'Edificio Kalos Zaragoza #1300 Sur Piso A3 Desp 327, Col. Centro, Monterrey, NL, México.',
        mapsUrl: 'https://goo.gl/maps/RreF7FMj1qK2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317.8635827151107!2d-100.31203809171453!3d25.664136298951735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be2e1848ea8b%3A0x1055d48c2927579!2sVigar+Carnes+Corporativo!5e0!3m2!1ses-419!2smx!4v1525367850476',
        phones: ['+52 (81) 1365-4165 ext. 145'],
        website: 'http://www.vigar.mx/',
        faxes: [],
      },
      {
        brand: 'Vigar',
        logo: '/marcas/vigar.png',
        name: 'Carnicería Valle',
        city: 'San Pedro Garza García, N.L.',
        address:
          'Río Pánuco #453, Col. del Valle, San Pedro Garza García, NL, México',
        mapsUrl: 'https://goo.gl/maps/dnMrjJdCCd32',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224.7723338013886!2d-100.35622190629208!3d25.659446598967786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bde4bab24db5%3A0x69698f7648c7d56b!2sVigar+Carnes+Valle!5e0!3m2!1ses-419!2smx!4v1525367953454',
        phones: ['+52 (81) 1365-4165 ext. 139'],
        website: 'http://www.vigar.mx/',
        faxes: [],
      },
      {
        brand: 'Vigar',
        logo: '/marcas/vigar.png',
        name: 'Distribuidora Puerto Vallarta',
        city: 'Puerto Vallarta, Jal',
        address:
          'Calle Monterrey #253, Col. Mojoneras, Puerto Vallarta, Jalisco, México.',
        mapsUrl: 'https://goo.gl/maps/5pxzeLSoxQ62',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233.28029946685186!2d-105.2230402971204!3d20.69052949770134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842145fee4fb1425%3A0x1e56b7d0ad91924!2sVigar+Carnes!5e0!3m2!1ses-419!2smx!4v1525368031632',
        phones: ['+52 (81) 1365-4165'],
        website: 'http://www.vigar.mx/',
        faxes: [],
      },
      {
        brand: 'Vigar',
        logo: '/marcas/vigar.png',
        name: 'Planta Santa Catarina',
        city: 'Santa Catarina, N.L.',
        address:
          'Apolo #516 Interior #18, Parque Industrial Kalos del Poniente, Santa Catarina, NL, México.',
        mapsUrl: 'https://goo.gl/maps/eT7j7o5usv92',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.364511738612!2d-100.48643338455716!3d25.69235261773691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629858a59a4aa7%3A0xf58e66120f21939f!2sVigar+Carnes!5e0!3m2!1ses-419!2smx!4v1525368113485',
        phones: ['+52 (81) 1365-4165'],
        website: 'http://www.vigar.mx/',
        faxes: [],
      },
      {
        brand: 'Vigar',
        logo: '/marcas/vigar.png',
        name: 'Carnicería Contry',
        city: 'Monterrey, N.L.',
        address: 'Revolución #604, Col. Contry, Monterrey, NL, México',
        mapsUrl: 'https://goo.gl/maps/C2z6CY68BuF2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.364511738612!2d-100.48643338455716!3d25.69235261773691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629858a59a4aa7%3A0xf58e66120f21939f!2sVigar+Carnes!5e0!3m2!1ses-419!2smx!4v1525368113485',
        phones: ['+52 (81) 8349-5151'],
        website: 'http://www.vigar.mx/',
        faxes: [],
      },
      {
        brand: 'Vigar',
        logo: '/marcas/vigar.png',
        name: 'Distribuidora Cancún',
        city: 'Cancún, Q.R.',
        address:
          'Central de Abastos Cancún Bodega 528 Local 3 y 4 Cancún Benito Juárez, Quintana Roo',
        mapsUrl: 'https://goo.gl/maps/26a9haraHBU2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6262.462676865861!2d-86.85500710049052!3d21.045382849797825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e81c8da435f59%3A0xdd530b0179a5196!2sVigar+Carnes+Cancun!5e0!3m2!1ses-419!2smx!4v1525368316072',
        phones: ['+52 (81) 1365-4165 ext. 142'],
        website: 'http://www.vigar.mx/',
        faxes: [],
      },
      {
        brand: 'Empacadora Selecta',
        logo: '/marcas/selecta.png',
        name: '',
        city: 'Monterrey, N.L.',
        address:
          'Av. Ciudad de los Ángeles 1101 Ote, Col. Del Norte, Monterrey, Nuevo León, México, C.P. 64240',
        mapsUrl: 'https://goo.gl/maps/Dk6PSFi2iJQ2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.726161003123!2d-100.3003179849801!3d25.713489183658655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629505c616ce4d%3A0xc25f3c0434943d38!2sEmpacadora+Selecta+Los+Angeles!5e0!3m2!1ses-419!2smx!4v1525368672992',
        phones: ['+52(81)83513723'],
        website: 'http://www.empacadoraselecta.com/',
        faxes: [],
      },
      {
        brand: 'ALIMENTOS Y SAZONADORES REGIOS, S.A. DE C.V.',
        logo: '/marcas/alimsa.png',
        name: '',
        city: 'San Pedro Garza García, N.L.',
        address:
          'Río Amazonas 240, Del Valle, CP 66220 San Pedro Garza García, N.L.',
        mapsUrl: 'https://goo.gl/maps/6XkmMtdYK1r',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3596.2347692837184!2d-100.3774171!3d25.6635112!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bd8c60589a6f%3A0x10f4aedd123a914c!2sALIMENTOS+Y+SAZONADOS+REGIOS%2CS.A.+DE+C.V.!5e0!3m2!1ses-419!2smx!4v1525368897811',
        phones: ['(81) 20910377', '(81) 12343325'],
        website: '',
        faxes: [],
        mails: ['ADMINISTRACION@ALIMSA.COM.MX'],
      },
      {
        brand: 'ALIMENTOS Y SAZONADORES REGIOS, S.A. DE C.V.',
        logo: '/marcas/alimsa.png',
        name: 'Sucursal CEDIS',
        city: 'Apodaca, N.L.',
        address:
          'Av. E Sexta 740, Entre Diego Diaz de Berlanga y Río pesquería, Hacienda Santa Isabel, 66612 Cd Apodaca, N.L.',
        mapsUrl: 'https://goo.gl/maps/ZoUyDF1Jyzv',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3591.975249144996!2d-100.25175768455578!3d25.80439061312914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be52a11fe19f%3A0x86b20552a8f86cd0!2sAlimentos+Y+Sazonadores+Regios%2C+S.A.+De+C.V.!5e0!3m2!1ses-419!2smx!4v1525369021100',
        phones: ['(81) 20910377', '(81) 12343325'],
        website: '',
        faxes: [],
        mails: ['ADMINISTRACION@ALIMSA.COM.MX'],
      },
      {
        brand: 'Gusi',
        logo: '/marcas/carnes-gusi.jpg',
        name: '',
        city: 'Apodaca, N.L.',
        address:
          'Ignacio Lopez Rayón 2810, Col. Bellavista, CP. 64410, Monterrey N.L',
        mapsUrl: 'https://goo.gl/maps/knYhcSHbNey',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.0443309203984!2d-100.32122548455702!3d25.70295621730178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866295bc623884ef%3A0xbb3045a102ef9f0!2sCEDIS+CARNES+GUSI+MONTERREY!5e0!3m2!1ses-419!2smx!4v1525369156203',
        phones: ['01-818-317-1881'],
        website: '',
        faxes: [],
        mails: [],
      },
      {
        brand: 'Home Food',
        logo: '/marcas/homefood.png',
        name: '',
        city: 'Monterrey, N.L.',
        address: 'Av fundadores 1100 Local 4, monterrey, N.L. C.P. 64754',
        mapsUrl: 'https://goo.gl/maps/cuFEirCwDBU2',
        embedMapUrl:
          'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.0813729063775!2d-100.3136463926184!3d25.63542467822543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be50e793d163%3A0xeee960a5bb8a2db!2sAvenida+Fundadores+1100%2C+Cerro+del+Ca%C3%ADdo%2C+Monterrey%2C+N.L.!5e0!3m2!1ses-419!2smx!4v1533061379008',
        phones: [],
        website: 'www.homefoods.mx',
        faxes: [],
        mails: [],
      },
    ],
  }),
}
</script>
