
$calendar-border: #EFEFEF
.calendario-grid
  .header
    display: flex
    width: 100%
    div
      &.month
        flex-grow: 2
        width: 80%
        text-align: center
        font-size: 2rem
        font-weight: bolder
      &:first-child
        text-align: left
        padding: 0 1rem
      &:last-child
        text-align: right
        padding: 0 1rem
    .innactive
      opacity: .4
  .week
    display: grid
    +tablet
      grid-template-columns: repeat(7, 1fr)
      grid-auto-flow: dense
    .dayheader
      text-align: center
    .day
      +tablet
        border: 1px solid $calendar-border
        min-height: 5rem
      text-align: center
      &.is-empty
        +mobile
          display: none
        +tablet
          display: block
      .event
        font-size: .8rem
        line-height: 1.2rem
        padding: 1rem .2rem
        margin: .2rem
        &.retail
          background-color: $retail
        &.trade
          background-color: $trade
        &.hri
          background-color: $hri
        &.central-america
          background-color: $central-america
        &.technical-services
          background-color: $technical-services

.color-codes
  display: flex
  +mobile
    flex-direction: column
    &.top
      border-bottom: 1px solid $gris-claro
      padding-bottom: 1rem
    &.bottom
      border-top: 1px solid $gris-claro
      padding-top: 1rem
  +tablet
    flex-direction: row
  .color
    width: autos
    +mobile
    +tablet
      padding: 1rem
    span
      display: inline-block
      width: 1rem
      height: 1rem
      border-radius: 50%
      &.retail
        background-color: $retail
      &.trade
        background-color: $trade
      &.hri
        background-color: $hri
      &.central-america
        background-color: $central-america
      &.technical-services
        background-color: $technical-services
.daylabel
  font-size: .75rem
  float: right
  +mobile
    background: $white
    padding: .5rem
    width: 100%
  +tablet
    background: none
  .day-name
    margin-right: .5rem
    +tablet
      display: none
  .day-number
    +tablet
      width: 1.25rem
      height: 1.25rem
      border-radius: 50%
      display: inline-block
      background: $gris-claro
.event-list
  border: 1px solid $gris-claro
  &:not(:last-child)
    margin-bottom: 2rem
  li
    border-bottom: 1px solid $gris-claro
    margin: 1rem
    display: flex
    align-items: center
    padding-bottom: 1rem
    &:last-child
      border-bottom: 0
    .icon
      margin-right: 1rem
      color: $gris-claro
    a.is-active
      color: $grisdarks
    a>span
      font-size: .8rem
