
.bx_interactivo
  max-width: 1344px
  // height: 650px
  margin: 0 auto
  text-align: center
  overflow: hidden
  padding-top: 4.5rem
  padding-bottom: 2rem
  // border: 1px solid orange
  .logo
    max-width: 160px
    margin: 0 auto
  &.has-border
    border: 1px solid rgba($gris,.5)
// porque aún no estoy usando maps de sass? WTF
button.rojo-sensual
  background-color: $rojosensual
  color: $white
  max-width: 120px
  margin: 0 auto
