// stylelint-disable function-comma-space-after
// stylelint-disable scss/dollar-variable-colon-space-after
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma/sass/utilities/initial-variables.sass';

// Colors

$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);

$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(141, 71%, 48%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 86%, 53%);
$blue: hsl(217, 71%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 100%, 61%);

// Typography

$family-sans-serif: 'Encode Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-monospace: monospace;
$render-mode: optimizeLegibility;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$radius: 3px;

$azul: #274978;
$azulmasdarks: #19426a;
$rojo: #bd3843;
$rojosensual: #b63d46;
$gris: #808080;
$gris-claro: #dedede;
$grisdarks: #333;

$retail: rgba(#f7ab3f, 0.3);
$trade: rgba(#8b2fb5, 0.3);
$hri: rgba(#2e83b0, 0.3);
$central-america: rgba(#f7896d, 0.3);
$technical-services: rgba(#5265b8, 0.3);

$primary: $azul;
$secondary: $rojo;

$custom-colors: ('secondary': ($secondary, $white));

@import '~bulma/sass/utilities/derived-variables.sass';
// $colors: map-merge($colors, $addColors);
