<template functional>
  <component
    :is="props.tag"
    v-bind="data.attrs"
    :class="['card', data.staticClass, data.class]"
    v-on="listeners">
    <div v-if="props.image || !!slots().image"
         class="card-image">
      <slot name="image">
        <!--
          @slot La imagen, en caso de querer usar un componente
          diferente
        -->
        <template v-if="props.href">
          <a
            v-if="props.href.startsWith('//')
              ||props.href.startsWith('http')
            || props.href.startsWith('#')"
            :href="props.href"
            class="image"
            :class="props.imageClass"
            target="_blank"
            rel="noopener">
            <img
              :sizes="props.sizes"
              :srcset="props.srcset"
              :src="props.image"
              :alt="props.title" />
          </a>
          <nuxt-link
            v-else
            :to="props.href"
            :class="props.imageClass"
            class="image">
            <img
              :sizes="props.sizes"
              :srcset="props.srcset"
              :src="props.image"
              :alt="props.title" />
          </nuxt-link>
        </template>
        <picture v-else
                 :class="props.imageClass"
                 class="image">
          <img
            :sizes="props.sizes"
            :srcset="props.srcset"
            :src="props.image"
            :alt="props.title" />
        </picture>
      </slot>
    </div>
    <div
      :class="props.contentClass"
      class="card-content">
      <!-- @slot El contenido de la tarjeta -->
      <slot />
    </div>
    <div v-if="!!slots().foot"
         class="card-foot">
      <!-- @slot El pie de la tarjeta -->
      <slot name="foot" />
    </div>
  </component>
</template>

<script>
/**
 * Tarjeta de bulma
 *
 * @version 1.1
 * @author: César Valadez | DinamoMX
 * @since: 2018-08-18
 * @desc: Es un simple wrapper funcional para las tarjetas,
 *  no tiene estado así que el rendimiento es espectacular.
 */

export default {
  name: 'Card',
  props: {
    /**
     * La etiqueta html o componente que quieras usar como raiz de la card
     */
    tag: {
      type: [String, Object],
      default: 'article',
    },
    /**
     * La imagen a usar en la tarjeta
     */
    image: {
      type: String,
      default: '',
    },
    /**
     * El título de la tarjeta, se usa como alt para la imagen
     */
    title: {
      type: String,
      default: '',
    },
    /**
     * El enlace de la tarjeta, se aplica a la imagen
     * puedes usar enlaces relativos o absolutos
     */
    href: {
      type: String,
      default: '',
    },
    /**
     * En caso de necesitar usar srcset para la imagen, esto está
     * disponible.
     */
    srcset: {
      type: String,
      default: '',
    },
    /**
     * El atributo sizes para la imagen
     */
    sizes: {
      type: String,
      default: '',
    },
    /**
     * La clase para la imagen
     */
    imageClass: {
      type: [String, Object, Array],
      default: '',
    },
    /**
     * Las clases adicionales para card-content
     */
    contentClass: {
      type: [String, Object, Array],
      default: '',
    },
  },
}
</script>

<docs>
  Este es un componente presentacional, osea solo sirve como una estructura base
  de estilos y html sin proveer ninguna funcionalidad ```jsx
  <card
    image="https://plantilla.dinamo.mx/images/placeholder/example_full.jpg"
    title="INFINITI LAB"
  >
    <p class="subtitle">INFINITI LAB</p>
    <p>Impulsando a emprendedores para transformar sus ideas en acciones.</p>
  </card>
  ``` Con el atributo href convierte la imagen en un enlace ```jsx
  <card
    image="https://plantilla.dinamo.mx/images/placeholder/example_full.jpg"
    title="INFINITI LAB"
    href="/"
  >
    <p class="subtitle">INFINITI LAB</p>
    <p>Impulsando a emprendedores para transformar sus ideas en acciones.</p>
  </card>
  ```
</docs>
