<template lang="html">
  <div class="calendar-shortcut-container">
    <template v-for="[month, events] in eventsData">
      <h6 :key="month"
          class="title is-6">
        {{ month }}
      </h6>
      <ul
        v-if="events"
        :key="month+'list'"
        class="event-list">
        <li v-for="evnt in events"
            :key="evnt.url">
          <b-icon icon="calendar" />
          <nuxt-link :to="evnt.url">
            {{ evnt.title }}
            <br>
            <span
              v-if="evnt.industria"
              class="industria">
              {{ evnt.industria }}
            </span>
            <span class="date">
              {{ evnt.date }}
            </span>
          </nuxt-link>
        </li>
      </ul>
    </template>
  </div>
</template>

<script>
import calendarShortcutData from './CalendarShortcutData.json'

export default {
  name: 'CalendarShortcut',
  props: {
    eventsData: {
      type: Array,
      default: () => calendarShortcutData,
    },
  },
}
</script>

<style lang="css">
</style>
