<template lang="html">
  <div class="color-codes top">
    <div class="color">
      <span class="retail" />
      Retail
    </div>
    <div class="color">
      <span class="trade" />
      Trade
    </div>
    <div class="color">
      <span class="hri" />
      HRI
    </div>
    <div class="color">
      <span class="central-america" />
      Central America & Dominican Republic
    </div>
    <div class="color">
      <span class="technical-services" />
      Technical Services
    </div>
  </div>
</template>

<script>
export default {
  name: 'ColorCodes',
}
</script>

<style lang="css">
</style>
