<template>
  <form
    class="box"
    @submit.prevent="formSend">
    <div class="columns">
      <section class="column">
        <b-field label="Área a contactar">
          <b-select
            v-model="model.sendTo"
            :disabled="!!defaultMail"
            :aria-disabled="!!defaultMail"
            placeholder="Selecciona una">
            <option
              v-for="area in areaContacto"
              :key="area.email"
              :value="area.email">
              {{ area.name }}
            </option>
          </b-select>
        </b-field>
        <b-field label="Nombre">
          <b-input
            v-model="model.Nombre"
            type="text"
            name="Nombre"
            required />
        </b-field>
        <b-field label="Correo">
          <b-input
            v-model="model.Correo"
            type="email"
            name="Correo"
            required />
        </b-field>
        <b-field label="Teléfono">
          <b-input
            v-model="model.Teléfono"
            type="tel"
            name="Teléfono"
            required />
        </b-field>
        <div class="field">
          <b-checkbox
            v-model="TOS"
            :required="true">
            Acepto el
            <nuxt-link to="/aviso-privacidad">
              Aviso de privacidad
            </nuxt-link>
            y las políticas de USMEF
          </b-checkbox>
        </div>
      </section>
      <section class="column">
        <div class="field">
          <div class="label">
            Mensaje
          </div>
          <div class="control">
            <textarea
              v-model="model.Mensaje"
              name="mensaje"
              cols="30"
              rows="10"
              class="textarea" />
          </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button
              class="button"
              type="button"
              @click="$parent.close()">
              Cancelar
            </button>
          </p>
          <p class="control">
            <button
              type="submit"
              class="button is-primary">
              Enviar
            </button>
          </p>
        </div>
      </section>
    </div>
    <b-loading
      :is-full-page="!!defaultMail"
      :active="isLoading" />
  </form>
</template>

<script>
/* eslint-disable no-console */
import FormMixin from '~/mixins/form-mixin'

const areaContacto = [
  { email: 'oferrara@usmef.org', name: 'Dirección Regional' },
  { email: 'grodriguez@usmef.org', name: 'Dirección de Marketing' },
  { email: 'gnavarrete@usmef.org', name: 'Chef Corporativo' },
  { email: 'colivos@usmef.org', name: 'Contabilidad México' },
  { email: 'emarquez@usmef.org', name: 'Contabilidad Centroamérica' },
  { email: 'jgarcia@usmef.org', name: 'Retail' },
  { email: 'lelizalde@usmef.org', name: 'Trade' },
  { email: 'egonzalez@usmef.org', name: 'HRI' },
  {
    email: 'consultor1_CA@usmef.org',
    name: 'Centroamérica y Repúblicad Dominicana',
  },
  { email: 'avaldez@usmef.org', name: 'Technical Services' },
  { email: 'lflores@usmef.org', name: 'Escuela USMEF' },
  { email: 'comunicacion@usmef.org', name: 'Comunicación' },
  { email: 'hoteles@usmef.org', name: 'Hoteles y Restaurantes' },
]

export default {
  name: 'TheForm',
  mixins: [FormMixin],
  props: {
    defaultMail: {
      type: String,
      default: null,
    },
  },
  data: () => ({
    areaContacto,
    model: {
      sendTo: '',
    },
  }),
  watch: {
    defaultMail(newValue) {
      this.model.sendTo = newValue
    },
  },
  mounted() {
    this.model.sendTo = this.defaultMail
    this.$on('success', () => {
      this.$router.push('/gracias')
    })
  },
}
</script>
