<template lang="html">
  <div class="inner-selector">
    <div class="item is-3by2">
      <nuxt-link to="/industria/trade">
        Trade
      </nuxt-link>
    </div>
    <div class="item is-3by2">
      <nuxt-link to="/industria/retail">
        Retail
      </nuxt-link>
    </div>
    <div class="item is-3by2">
      <nuxt-link to="/industria/hri">
        HRI
      </nuxt-link>
    </div>
    <div class="item is-3by2">
      <nuxt-link to="/industria/centro-america">
        Centroamérica
      </nuxt-link>
    </div>
    <div class="item is-3by2">
      <nuxt-link to="/industria/servicios-tecnicos">
        Servicios técnicos
      </nuxt-link>
    </div>
    <div class="item is-3by2">
      <nuxt-link to="/educacion-capacitacion">
        Educación y Capacitación
      </nuxt-link>
    </div>
    <div class="item is-3by2">
      <a
        href="http://usmef.com.mx"
        target="_blank">
        Escuela USMEF
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndustriaInnerNav',
}
</script>

<style lang="css">
</style>
