<template>
  <div class="card brand-card">
    <div class="card-content columns is-gapless brand-card__content">
      <div class="column is-4">
        <figure class="image">
          <img
            v-if="logo"
            :src="logo"
            :alt="brand">
          <div
            v-else
            class="brand-card__fake-logo has-text-white has-text-centered">
            <span>{{ brand }}</span>
          </div>
        </figure>
      </div>
      <div class="column has-text-right-tablet has-text-centered-mobile">
        <h4 class="is-size-5">
          {{ brand }}
        </h4>
        <p>{{ city }}</p>
      </div>
    </div>
    <a
      v-if="website"
      :href="website"
      target="_blank"
      class="button is-danger brand-card__action">
      <span>Página web&nbsp;</span>
      <b-icon icon="external-link-square-alt" />
    </a>
    <button
      class="button is-primary brand-card__action"
      style="z-index: 3;"
      @click="showPhones = !showPhones">
      <b-icon icon="phone"
              pack="far" />
      &nbsp;<span>{{ showPhones ? 'Ocultar' : 'Ver' }} telefonos</span>
    </button>
    <transition
      name="fade"
      enter-active-class="fadeInUp"
      leave-active-class="fadeOutDown">
      <div
        v-show="showPhones"
        class="brand-card__footer">
        <div
          v-for="(phone, i) in phones"
          :key="i"
          class="card-footer ">
          <a
            :href="`tel:${phone}`"
            class="card-footer-item">
            {{ phone }}
          </a>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'MarcaContactCard',
  props: {
    logo: {
      type: String,
      required: false,
      default: '',
    },
    city: {
      type: String,
      required: true,
    },
    brand: {
      type: String,
      required: true,
    },
    website: {
      type: String,
      required: false,
      default: null,
    },
    phones: {
      type: Array,
      required: true,
      default: () => ['xxx-xxx-xxx'],
    },
  },
  data: () => ({
    showPhones: false,
  }),
}
</script>

<style lang="scss">
@import '~assets/sass/base/basic';

.brand-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .column & {
    height: 100%;
  }

  &__footer {
    position: absolute;
    right: 0;
    bottom: 2.25rem;
    left: 0;
    background: $white;
  }

  &__action {
    width: 100%;
    justify-self: flex-end;
    // z-index: 3;
  }

  &__content {
    margin-bottom: auto !important;
  }

  &__fake-logo {
    position: relative;
    padding: 3rem;
    background: $black;
    border-radius: 100%;

    /* stylelint-disable-next-line selector-max-type */
    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}
</style>
