<template>
  <div
    class="card hri-card">
    <transition-group
      ref="container"
      class="hri-card__container"
      name="bounce"
      mode="out-in"
      tag="div"
      enter-active-class="bounceInLeft"
      leave-active-class="bounceOutRight">
      <div
        v-if="mapHidden"
        key="nomap"
        class="hri-card__content">
        <div
          key=""
          class="card-image">
          <figure class="hri-card__logo image is-16by9">
            <img
              class="hri-card__logo-img"
              :src="logo"
              :alt="`Logo de ${brand}`">
          </figure>
        </div>
        <div
          key="content"
          class="card-content">
          <h4 class="title is-4">
            {{ brand }}
          </h4>
          <h4
            v-show="!!name"
            class="subtitle is-4">
            {{ name }}
          </h4>
          <ul>
            <li
              v-for="(tel, i) in phones"
              :key="tel">
              <b :class="{'is-invisible': i !== 0}">
                Tel:
              </b>
              <a :href="`tel:${tel}`">
                {{ tel }}
              </a>
            </li>
            <li
              v-for="(fax, i) in faxes"
              :key="fax">
              <b :class="{'is-invisible': i !== 0}">
                Fax:
              </b>
              {{ fax }}
            </li>
            <li>{{ address }}</li>
          </ul>
          <p v-if="mails.length > 0">
            Correos de contacto:
          </p>
          <ul>
            <li
              v-for="mail in mails"
              :key="mail">
              <a :href="`mailto:${mail}`">
                {{ mail }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        v-else
        key="map"
        class="card-image">
        <a
          class="button is-delete hri-card__close"
          @click="mapHidden = true">
          <b-icon
            icon="times"
            class="has-text-danger" />
        </a>
        <iframe
          :style="{'min-height': height+'px'}"
          :height="height"
          :src="embedMapsUrl"
          class="hri-card__frame"
          frameborder="0"
          allowfullscreen />
      </div>
    </transition-group>
    <div class="card-footer hri-card__footer">
      <a
        :href="mapHidden ? null : mapsUrl"
        target="_blank"
        class="card-footer-item"
        @click="showMap">
        {{ mapHidden ? 'Ver Mapa' :'Abrir en maps' }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MarcaSucursalCard',
  props: {
    logo: {
      type: String,
      required: true,
    },
    brand: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: false,
      default: '',
    },
    phones: {
      type: Array,
      required: true,
      default: () => [],
    },
    faxes: {
      type: Array,
      required: false,
      default: () => [],
    },
    mails: {
      type: Array,
      required: false,
      default: () => [],
    },
    mapsUrl: {
      type: String,
      required: true,
    },
    embedMapsUrl: {
      type: String,
      required: true,
    },
    address: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    mapHidden: true,
    height: 0,
  }),
  methods: {
    showMap() {
      if (this.mapHidden) {
        this.height = this.$refs.container.$el.offsetHeight
        this.mapHidden = !this.mapHidden
      }
    },
  },
}
</script>

<style lang="scss">
@import '~assets/sass/base/basic';

.hri-card {
  position: relative;
  height: 100%;
  border-radius: 0.5rem;

  .card-image {
    height: 100%;
  }

  &__logo-img {
    padding: 1rem;
    object-fit: contain;
  }

  &__container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &__content {
    padding-bottom: 2.5rem;
  }

  &__frame {
    width: 100%;
    height: 100%;
  }

  &__footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($white, 0.8);
    border: $grey-light 1px solid;
    border-radius: 0.5rem;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .bounceInLeft {
    position: absolute;
    top: 0;
  }
}
</style>
