<template>
  <footer class="foots">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="foot-acordion">
            <!--TODO: convertir este dropdown en un componente-->
            <h5
              class="title is-5"
              @click="dontwshowmobile = !dontwshowmobile">
              <span>Nosotros</span>
              <b-icon size="is-small"
                      class="is-pulled-right"
                      icon="chevron-down" />
            </h5>
          </div>
          <div :class="{'is-hidden-mobile': dontwshowmobile }">
            <nuxt-link
              to="/informacion-de-mercado"
              class="navbar-item">
              Información de mercado
            </nuxt-link>
            <nuxt-link
              to="/estructura"
              class="navbar-item">
              Estructura
            </nuxt-link>
            <nuxt-link
              to="/directorio"
              class="navbar-item">
              Directorio
            </nuxt-link>
            <nuxt-link
              to="/contacto"
              class="navbar-item">
              Contacto
            </nuxt-link>
          </div>
        </div>
        <div class="column has-borderleft">
          <div class="foot-acordion">
            <h5 class="title is-5">
              <span>Consumidor</span>
              <b-icon size="is-small"
                      class="is-pulled-right"
                      icon="chevron-down" />
            </h5>
          </div>
          <div class="">
            <a
              href="http://cerdosabroso.com.mx"
              class="navbar-item external-link"
              target="_blank">
              <span>CERDOSABROSO</span>
              <b-icon icon="external-link-square-alt"
                      size="is-small" />
            </a>
            <a
              href="#"
              class="navbar-item external-link"
              target="_blank">
              <span>USBEEF</span>
              <b-icon icon="external-link-square-alt"
                      size="is-small" />
            </a>
            <a
              href="#"
              class="navbar-item external-link"
              target="_blank">
              <span>CHEFS CARNÍVOROS</span>
              <b-icon icon="external-link-square-alt"
                      size="is-small" />
            </a>
            <a
              href="#"
              class="navbar-item external-link"
              target="_blank">
              <span>Cordero</span>
              <b-icon icon="external-link-square-alt"
                      size="is-small" />
            </a>
          </div>
        </div>
        <div class="column is-6 has-borderleft">
          <div class="foot-acordion">
            <h5 class="title is-5">
              <span>Industria</span>
              <b-icon size="is-small"
                      class="is-pulled-right"
                      icon="chevron-down" />
            </h5>
          </div>
          <div class="">
            <div class="columns">
              <div class="column">
                <nuxt-link
                  to="/industria/trade"
                  class="navbar-item">
                  Trade
                </nuxt-link>
                <nuxt-link
                  to="/industria/retail"
                  class="navbar-item">
                  Retail
                </nuxt-link>
                <nuxt-link
                  to="/industria/HRI"
                  class="navbar-item">
                  HRI
                </nuxt-link>
                <nuxt-link
                  to="/industria/centro-america"
                  class="navbar-item">
                  Centroamérica
                </nuxt-link>
              </div>
              <div class="column">
                <nuxt-link
                  to="/industria/servicios-tecnicos"
                  class="navbar-item">
                  Servicios técnicos
                </nuxt-link>
                <nuxt-link
                  to="/educacion-capacitacion/trade"
                  class="navbar-item">
                  Educación y capacitación
                </nuxt-link>
                <a
                  href="http://usmef.com.mx"
                  class="navbar-item external-link"
                  target="_blank">
                  <span>Escuela USMEF</span>
                  <b-icon icon="external-link-square-alt"
                          size="is-small" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="basementjax">
      <div class="container ">
        <div class="columns">
          <div class="column">
            &copy; USMEF 2018 Todos los derechos reservados
          </div>
          <div class="column is-hidden-mobile" />
          <div class="column social-icons">
            <span class="social-label is-hidden-mobile">
              Síguenos:
            </span>
            <a
              class="has-text-white"
              href="https://www.facebook.com/USMEF.Mex.CA.RD/"
              rel="noopener noreferrer"
              target="_blank">
              <b-icon icon="facebook-square"
                      pack="fab" />
            </a>
            <a
              class="has-text-white"
              href="https://twitter.com/USMEF_Mex_CA_RD"
              rel="noopener noreferrer"
              target="_blank">
              <b-icon icon="twitter-square"
                      pack="fab" />
            </a>
            <a
              class="has-text-white"
              href="https://www.instagram.com/usmef_mex_ca_rd/"
              rel="noopener noreferrer"
              target="_blank">
              <b-icon icon="instagram"
                      pack="fab" />
            </a>
            <a
              class="has-text-white"
              href="https://www.youtube.com/channel/UCqs5T4KG8EeNG7Mtl8Ez1ow"
              rel="noopener noreferrer"
              target="_blank">
              <b-icon icon="youtube"
                      pack="fab" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'TheFooter',
  data: () => ({
    menuStatus: false,
    dontwshowmobile: true,
  }),
  watch: {
    $route() {
      if (this.menuStatus) {
        this.menuStatus = false
      }
    },
  },
}
</script>
<style lang="scss" scoped>
@import '~assets/sass/base/basic';

.foots {
  color: $white;
  background-color: $azul;
  border-top: 15px solid $rojo;
  @include mobile {
    padding-top: 1rem;
  }
  @include tablet {
    padding-top: 3rem;
    margin-top: 3rem;
  }

  .title,
  .navbar-item.is-active,
  .navbar-link.is-active,
  .navbar-item {
    color: $white;
  }

  .navbar-item:hover,
  .navbar-link:hover {
    background-color: $azulmasdarks;
  }

  .navbar-item.is-active {
    background-color: $azulmasdarks;
  }

  .basementjax {
    margin-top: 1rem;
    text-align: center;
    background-color: $azulmasdarks;
  }

  .social-icons {
    display: flex;
    align-items: center;
    @include mobile {
      margin: 1.5rem 0 0.5rem;
      justify-content: space-around;
    }
    @include tablet {
      margin: 0;
      justify-content: center;
    }

    .icon {
      position: relative;
      margin-left: 1rem;
      @include mobile {
        top: -1rem;
        font-size: 2rem;
      }
      @include tablet {
        top: 0;
        font-size: 1.7rem;
      }
    }
  }

  .social-label {
    float: left;
  }
}

.index {
  @include tablet {
    .foots {
      margin-top: 0;
    }
  }
}

.basementjax > .container > .columns {
  @include mobile {
    flex-direction: column-reverse;
  }
  @include tablet {
    flex-direction: row;
  }
}

.foot-acordion {
  @include mobile {
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid $white;
  }
}

.has-borderleft {
  @include tablet {
    margin-bottom: 1rem;
    border-left: 1px solid rgba($white, 0.3);
  }
}
</style>
