<template>
  <nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <nuxt-link
        to="/"
        class="navbar-item">
        <img
          class="navbar-logo"
          src="~assets/logo-usmef.svg"
          alt="Usmef.org.mx">
      </nuxt-link>
      <div class="navbar-item is-hidden-desktop search-toggle--mobile">
        <button
          class="button is-text"
          @click="showSearch = !showSearch">
          <b-icon :icon="showSearch ? 'times' : 'search'"
                  pack="far" />
        </button>
      </div>
      <div
        class="navbar-burger burger"
        @click="menuStatus = !menuStatus">
        <span />
        <span />
        <span />
      </div>
    </div>
    <div :class="['navbar-menu', menuStatus ? 'is-active' : '' ]">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <nuxt-link
            to="/nosotros"
            class="navbar-link">
            Nosotros
          </nuxt-link>
          <div class="navbar-dropdown is-contrasted is-horizontal">
            <nuxt-link
              to="/informacion-de-mercado"
              class="navbar-item">
              Información de mercado
            </nuxt-link>
            <nuxt-link
              to="/estructura"
              class="navbar-item">
              Estructura
            </nuxt-link>
            <nuxt-link
              to="/directorio"
              class="navbar-item">
              Directorio
            </nuxt-link>
            <nuxt-link
              to="/contacto"
              class="navbar-item">
              Contacto
            </nuxt-link>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <nuxt-link
            to="/consumidor"
            class="navbar-link">
            Consumidor
          </nuxt-link>
          <div class="navbar-dropdown is-contrasted is-horizontal">
            <a
              href="http://cerdosabroso.com"
              target="_blank"
              class="navbar-item external-link">
              <!--
          span*+b-icon[icon="external-link-square-alt"][size="is-small"]/{} -->
              <span>CERDOSABROSO</span>
              <b-icon icon="external-link-square-alt"
                      size="is-small" />
            </a>
            <a
              href="http://chefscarnivoros.com"
              target="_blank"
              class="navbar-item external-link">
              <span>CHEFS CARNÍVOROS</span>
              <b-icon icon="external-link-square-alt"
                      size="is-small" />
            </a>
            <a
              href="http://usbeef.org.mx/"
              class="navbar-item external-link">
              <span>USBEEF</span>
              <b-icon icon="external-link-square-alt"
                      size="is-small" />
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <nuxt-link
            to="/industria/"
            class="navbar-link">
            Industria
          </nuxt-link>
          <div class="navbar-dropdown is-contrasted is-horizontal">
            <nuxt-link
              to="/industria/trade"
              class="navbar-item">
              Trade
            </nuxt-link>
            <nuxt-link
              to="/industria/retail"
              class="navbar-item">
              Retail
            </nuxt-link>
            <nuxt-link
              to="/industria/HRI"
              class="navbar-item">
              HRI
            </nuxt-link>
            <nuxt-link
              to="/industria/centro-america"
              class="navbar-item">
              Centroamérica
            </nuxt-link>
            <nuxt-link
              to="/industria/servicios-tecnicos"
              class="navbar-item">
              Servicios Técnicos
            </nuxt-link>
            <nuxt-link
              to="/educacion-capacitacion/trade"
              class="navbar-item">
              Educación y capacitación
            </nuxt-link>
            <a
              href="http://usmef.com.mx"
              class="navbar-item external-link"
              target="_blank">
              <span>Escuela USMEF</span>
              <b-icon icon="external-link-square-alt"
                      size="is-small" />
            </a>
          </div>
        </div>
        <nuxt-link
          to="/calendario"
          class="navbar-item">
          Eventos
        </nuxt-link>
      </div>
      <div class="navbar-end social-icons">
        <a
          href="https://www.facebook.com/USMEF.Mex.CA.RD/"
          target="_blank"
          rel="noopener noreferrer"
          class="navbar-item">
          <b-icon icon="facebook-square"
                  pack="fab" />
        </a>
        <a
          href="https://twitter.com/USMEF_Mex_CA_RD"
          target="_blank"
          rel="noopener noreferrer"
          class="navbar-item">
          <b-icon icon="twitter-square"
                  pack="fab" />
        </a>
        <a
          href="https://www.instagram.com/usmef_mex_ca_rd/"
          target="_blank"
          rel="noopener noreferrer"
          class="navbar-item">
          <b-icon icon="instagram"
                  pack="fab" />
        </a>
        <a
          href="https://www.youtube.com/channel/UCqs5T4KG8EeNG7Mtl8Ez1ow"
          target="_blank"
          rel="noopener noreferrer"
          class="navbar-item">
          <b-icon icon="youtube"
                  pack="fab" />
        </a>
      </div>
      <div class="navbar-item is-hidden-touch">
        <button
          :class="{'is-active': showSearch}"
          class="button is-text"
          @click="showSearch = !showSearch">
          <b-icon :icon="showSearch ? 'times' : 'search'" />
        </button>
      </div>
    </div>
    <div
      v-show="showSearch"
      class="searchbox">
      <form
        class="field has-addons"
        @submit.prevent="doTheSearch">
        <p class="control">
          <input
            v-model="searchQuery"
            type="search"
            class="input is-info"
            placeholder="Buscar">
        </p>
        <p class="control">
          <button class="button is-info is-outlined">
            Buscar
          </button>
        </p>
      </form>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'TheHeader',
  data: () => ({
    /**
     * Abrir o cerrar el menu mobil
     */
    menuStatus: false,
    showSearch: false,
    searchQuery: '',
  }),
  watch: {
    $route() {
      if (this.menuStatus) {
        this.menuStatus = false
      }
    },
  },
  methods: {
    doTheSearch() {
      window.open(
        `https://www.google.com.mx/search?q=site%3Ausmef.org.mx+${encodeURI(
          this.searchQuery
        )}`
      )
    },
  },
}
</script>
<style lang="scss" scoped>
@import 'assets/sass/base/basic';

$navbar-height-desktop: 5.5rem;

.searchbox {
  position: absolute;
  top: 3.5rem;
  right: 0;
  padding: 0.5rem;
  background: $white;
  border-bottom-left-radius: 3px;
  box-shadow: 3px 3px rgba($grey-dark, 0.5);
  @include desktop {
    top: 5.5rem;
  }
}

.search-toggle {
  &--mobile {
    margin-left: auto;

    + .navbar-burger {
      margin-left: 0;
    }
  }
}

.navbar {
  @include desktop {
    height: $navbar-height-desktop;
  }
}

/* stylelint-disable selector-no-qualifying-type */
body.has-navbar-fixed-top,
html.has-navbar-fixed-top {
  @include desktop {
    padding-top: $navbar-height-desktop;
  }
}
/* stylelint-enable selector-no-qualifying-type */

.navbar-logo {
  display: block;
  min-width: 45px;
  // min-height: 45px;

  @include tablet {
    width: 140px;
    min-height: 70px;
  }
}

.social-icons {
  display: flex;
  flex-direction: row;
  @include mobile {
    width: 100%;
    align-items: space-around;

    .navbar-item {
      width: 25%;
      color: $white;
      text-align: center;
    }
  }
  @include tablet {
    font-size: 1.3rem;
  }

  .navbar-item:hover {
    color: $rojo;
    transition: color 0.4s ease-in;
  }
}

.search-icon {
  @include mobile {
    position: absolute;
    top: 0.4rem;
    right: 3rem;
    display: block;
  }
  @include tablet {
    padding-top: 1.2rem;
  }

  .icon:hover {
    color: $rojo;
    transition: color 0.4s ease-in;
  }
}

.navbar-link {
  @include touch {
    font-weight: bold;
    color: $white;
    background: $rojo;

    &::after {
      border-color: $white;
    }
  }

  @include desktop {
    border: 0;

    &::after {
      border-color: $rojo;
    }
  }
}

.navbar-dropdown {
  background-color: $rojo;

  .navbar-item,
  .navbar-link {
    &:hover,
    &.is-active {
      background: $primary;
    }
  }

  .navbar-item {
    color: $white;
  }
}

.is-hoverable:hover {
  .navbar-item {
    color: $white;
    @include desktop {
      background-color: transparent;
    }
  }

  .is-horizontal {
    @include desktop {
      position: absolute;
      left: 0;
      display: flex;
      width: auto;
      min-width: 600px;
      flex-wrap: wrap;

      .navbar-item {
        float: left;
        min-width: 30%;
      }
    }
  }
}

.is-horizontal {
  .navbar-item {
    border-left: 1px solid rgba($white, 0.3);
  }

  .navbar-item:nth-child(3n + 1) {
    border-left: 0;
  }
}

.navbar-menu {
  @include mobile {
    background-color: $rojosensual;
  }
}

.is-contrasted {
  background-color: darken($rojo, 10%);

  .navbar-item {
    font-size: 0.8rem;
  }
}
</style>
