<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Calendario
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-1 has-text-centered">
            Eventos
          </h1>
          <div>
            <calendar-color-codes />
            <div class="calendario-grid">
              <div class="header">
                <div>
                  <a
                    href="/calendario/2018-03/">
                    <i class="far fa-arrow-left" />
                  </a>
                </div>
                <div class="month">
                  Abril
                </div>
                <div>
                  <a
                    href="/calendario/"
                    class="">
                    <i class="far fa-arrow-right" />
                  </a>
                </div>
              </div>
              <div class="week days is-hidden-mobile">
                <div class="dayheader">
                  Lunes
                </div>
                <div class="dayheader">
                  Martes
                </div>
                <div class="dayheader">
                  Miércoles
                </div>
                <div class="dayheader">
                  Jueves
                </div>
                <div class="dayheader">
                  Viernes
                </div>
                <div class="dayheader">
                  Sábado
                </div>
                <div class="dayheader">
                  Domingo
                </div>
              </div>
              <div class="week">
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day">
                  <div class="day">
                    <div class="daylabel">
                      <span class="day-name">
                        Domingo
                      </span>
                      <span class="day-number">
                        1
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      2
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      3
                    </span>
                  </div>
                  <p class="event trade">
                    <strong>Trade</strong><br>
                    Butchers´ School  <br>
                    San Juan de Los Lagos, Jalisco <br>
                    <a href="/eventos/2018-04-03/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      4
                    </span>
                  </div>
                  <p class="event trade">
                    <strong>Trade</strong><br>
                    Butchers´ School  <br>
                    San Juan de Los Lagos, Jalisco <br>
                    <a href="/eventos/2018-04-03/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      5
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      6
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      7
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      8
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      9
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      10
                    </span>
                  </div>
                  <p class="event trade">
                    <strong>Trade</strong><br>
                    Butchers´ School  <br>
                    San Juan de Los Lagos, Jalisco <br>
                    <a href="/eventos/2018-04-03/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      11
                    </span>
                  </div>
                  <p class="event trade">
                    <strong>Trade</strong><br>
                    Butchers´ School  <br>
                    San Juan de Los Lagos, Jalisco <br>
                    <a href="/eventos/2018-04-03/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Seminario de res y cerdo Americana <br>
                    Walmart y La Colonia <br>
                    <a href="/eventos/2018-04-11/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      12
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Seminario de res y cerdo Americana <br>
                    La Torre <br>
                    <a href="/eventos/2018-04-11/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                  <p class="event">
                    Seminario con Loma Linda <br>
                    Loma Linda<br>
                    <a href="/eventos/2018-04-12/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      13
                    </span>
                  </div>
                  <p class="event">
                    Seminario con Loma Linda <br>
                    Loma Linda<br>
                    <a href="/eventos/2018-04-12/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      14
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      15
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      16
                    </span>
                  </div>
                  <p class="event">
                    Seminario AMEXITEC<br>
                    Facultad de Veterinaria, UNAM. <br>
                    <a href="/eventos/2018-04-16/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                  <p class="event">
                    Seminario con Loma Linda <br>
                    Loma Linda<br>
                    <a href="/eventos/2018-04-12/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      17
                    </span>
                  </div>
                  <p class="event">
                    Seminario AMEXITEC<br>
                    Facultad de Veterinaria, UNAM. <br>
                    <a href="/eventos/2018-04-16/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      18
                    </span>
                  </div>
                  <p class="event">
                    Seminario AMEXITEC<br>
                    Facultad de Veterinaria, UNAM. <br>
                    <a href="/eventos/2018-04-16/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      19
                    </span>
                  </div>
                  <p class="event">
                    Seminario de corte y cocción de carne de cerdo y res Americana<br>
                    Monterrey<br>
                    <a href="/eventos/2018-04-19/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      20
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      21
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      22
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      23
                    </span>
                  </div>
                  <p class="event">
                    Expo CALA 2018 <br>
                    <a href="/eventos/2018-04-23/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      24
                    </span>
                  </div>
                  <p class="event">
                    Expo CALA 2018 <br>
                    <a href="/eventos/2018-04-23/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      25
                    </span>
                  </div>
                  <p class="event">
                    Taller de carne de res, cerdo y cordero con Rational<br>
                    Instituto Regiomontano de Hotelería, Monterrey
                    <a href="/eventos/2018-04-25/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      26
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      27
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      28
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      29
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      30
                    </span>
                  </div>
                </div>
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
              </div>
            </div>

            <calendar-color-codes />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarColorCodes from '~/components/CalendarColorCodes.vue'

export default {
  name: 'Calendario',
  head() {
    return {
      title: 'Calendario',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarColorCodes,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
