<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Calendario
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-1 has-text-centered">
            Eventos
          </h1>
          <calendar-color-codes />
          <div class="calendario-grid">
            <div class="header">
              <div>
                <nuxt-link
                  to="/calendario/2018-01"
                  class="">
                  <i class="far fa-arrow-left" />
                </nuxt-link>
              </div>
              <div class="month">
                Febrero
              </div>
              <div>
                <nuxt-link
                  to="/calendario/"
                  class="">
                  <i class="far fa-arrow-right" />
                </nuxt-link>
              </div>
            </div>
            <div class="week days is-hidden-mobile">
              <div class="dayheader">
                Lunes
              </div>
              <div class="dayheader">
                Martes
              </div>
              <div class="dayheader">
                Miércoles
              </div>
              <div class="dayheader">
                Jueves
              </div>
              <div class="dayheader">
                Viernes
              </div>
              <div class="dayheader">
                Sábado
              </div>
              <div class="dayheader">
                Domingo
              </div>
            </div>
            <div class="week">
              <div class="day" />
              <div class="day" />
              <div class="day" />
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Jueves
                  </span>
                  <span class="day-number">
                    1
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Viernes
                  </span>
                  <span class="day-number">
                    2
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Sábado
                  </span>
                  <span class="day-number">
                    3
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Domingo
                  </span>
                  <span class="day-number">
                    4
                  </span>
                </div>
              </div>
            </div>
            <div class="week">
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Lunes
                  </span>
                  <span class="day-number">
                    5
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Martes
                  </span>
                  <span class="day-number">
                    6
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Miércoles
                  </span>
                  <span class="day-number">
                    7
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel is-empty">
                  <span class="day-name">
                    Jueves
                  </span>
                  <span class="day-number">
                    8
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Viernes
                  </span>
                  <span class="day-number">
                    9
                  </span>
                </div>
                <p class="event central-america">
                  <strong>Centroamérica</strong><br>Seminarios teóricos de carne de res Americana <br> Belca Guatemala<br>
                  <nuxt-link to="/eventos/2018-02-09/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Sábado
                  </span>
                  <span class="day-number">
                    10
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Domingo
                  </span>
                  <span class="day-number">
                    11
                  </span>
                </div>
              </div>
            </div>
            <div class="week">
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Lunes
                  </span>
                  <span class="day-number">
                    12
                  </span>
                </div>
                <p class="event central-america">
                  <strong>Centroamérica</strong><br>Seminarios teórico prácticos de carne de res y cerdo Americana <br> Suministros y Alimentos Guatemala / Cerdo<br>
                  <nuxt-link to="/eventos/2018-02-12/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Martes
                  </span>
                  <span class="day-number">
                    13
                  </span>
                </div>
              </div>
              <div class="day">
                <div class="daylabel">
                  <span class="day-name">
                    Miércoles
                  </span>
                  <span class="day-number">
                    14
                  </span>
                </div>
                <p class="event technical-services">
                  <strong>Servicios Técnicos</strong><br>Convención Anual del Consejo Mexicano de la Carne (Comecarne) <br> Comecarne.<br>
                  <nuxt-link to="/eventos/2018-02-14/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
              <div class="day">
                <div class="daylabel">
                  <span class="day-name">
                    Jueves
                  </span>
                  <span class="day-number">
                    15
                  </span>
                </div>
                <p class="event technical-services">
                  <strong>Servicios Técnicos</strong><br>Convención Anual del Consejo Mexicano de la Carne (Comecarne) <br> Comecarne.<br>
                  <nuxt-link to="/eventos/2018-02-14/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
                <p class="event central-america">
                  <strong>Centroamérica</strong><br>Seminarios teóricos de carne de res Americana <br> Procasa Guatemala.<br>
                  <nuxt-link to="/eventos/2018-02-09/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
              <div class="day">
                <div class="daylabel">
                  <span class="day-name">
                    Viernes
                  </span>
                  <span class="day-number">
                    16
                  </span>
                </div>
                <p class="event technical-services">
                  <strong>Servicios Técnicos</strong><br>Convención Anual del Consejo Mexicano de la Carne (Comecarne) <br> Comecarne.<br>
                  <nuxt-link to="/eventos/2018-02-14/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
                <p class="event central-america">
                  <strong>Centroamérica</strong><br>Seminarios teórico prácticos de carne de res y cerdo Americana <br> Grupo Buena Guatemala / Res<br>
                  <nuxt-link to="/eventos/2018-02-12/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Sábado
                  </span>
                  <span class="day-number">
                    17
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Domingo
                  </span>
                  <span class="day-number">
                    18
                  </span>
                </div>
              </div>
            </div>
            <div class="week">
              <div class="day">
                <div class="daylabel">
                  <span class="day-name">
                    Lunes
                  </span>
                  <span class="day-number">
                    19
                  </span>
                </div>
                <p class="event central-america">
                  <strong>Centroamérica</strong><br>Seminarios teórico prácticos de carne de res y cerdo Americana <br> Grupo Buena Guatemala / Cerdo<br>
                  <nuxt-link to="/eventos/2018-02-12/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Martes
                  </span>
                  <span class="day-number">
                    20
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Miércoles
                  </span>
                  <span class="day-number">
                    21
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Jueves
                  </span>
                  <span class="day-number">
                    22
                  </span>
                </div>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Viernes
                  </span>
                  <span class="day-number">
                    23
                  </span>
                </div>
              </div>
              <div class="day">
                <div class="daylabel">
                  <span class="day-name">
                    Sábado
                  </span>
                  <span class="day-number">
                    24
                  </span>
                </div>
                <p class="event hri">
                  <strong>HRI</strong><br>Seminario de res en Puerto Vallarta. <br> XO de Chihuahua.<br>
                  <nuxt-link to="/eventos/2018-02-24/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Domingo
                  </span>
                  <span class="day-number">
                    25
                  </span>
                </div>
              </div>
            </div>
            <div class="week">
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Lunes
                  </span>
                  <span class="day-number">
                    26
                  </span>
                </div>
              </div>
              <div class="day">
                <div class="daylabel">
                  <span class="day-name">
                    Martes
                  </span>
                  <span class="day-number">
                    27
                  </span>
                </div>
                <p class="event central-america">
                  <strong>Centroamérica</strong><br>Seminarios de corte y cocción de carne de res en Honduras <br> Restaurante Hacienda Real, Tegucigalpa<br>
                  <nuxt-link to="/eventos/2018-02-27/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
              <div class="day is-empty">
                <div class="daylabel">
                  <span class="day-name">
                    Miércoles
                  </span>
                  <span class="day-number">
                    28
                  </span>
                </div>
                <p class="event central-america">
                  <strong>Centroamérica</strong><br>Seminarios de corte y cocción de carne de res en Honduras <br> Hotel Intercontinental, San Pedro Sula<br>
                  <nuxt-link to="/eventos/2018-02-27/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
                <p class="event central-america">
                  <strong>Centroamérica</strong><br>Seminarios de corte y cocción de carne de res en Honduras <br> Restaurante El Portal, San Pedro Sula <br>
                  <nuxt-link to="/eventos/2018-02-27/">
                    <fa-icon :icon="['far', 'newspaper']"
                             class="eventlink" />
                  </nuxt-link>
                </p>
              </div>
            </div>
          </div>
          <calendar-color-codes />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarColorCodes from '~/components/CalendarColorCodes.vue'

export default {
  name: 'Calendario',
  head() {
    return {
      title: 'Calendario',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarColorCodes,
  },
}
</script>
