<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Calendario
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-1 has-text-centered">
            Eventos
          </h1>
          <div>
            <calendar-color-codes />
            <div class="calendario-grid">
              <div class="header">
                <div>
                  <a
                    href="/calendario/2018-02/">
                    <i class="far fa-arrow-left" />
                  </a>
                </div>
                <div class="month">
                  Marzo
                </div>
                <div>
                  <nuxt-link to="/calendario">
                    <i class="far fa-arrow-right" />
                  </nuxt-link>
                </div>
              </div>
              <div class="week days is-hidden-mobile">
                <div class="dayheader">
                  Lunes
                </div>
                <div class="dayheader">
                  Martes
                </div>
                <div class="dayheader">
                  Miércoles
                </div>
                <div class="dayheader">
                  Jueves
                </div>
                <div class="dayheader">
                  Viernes
                </div>
                <div class="dayheader">
                  Sábado
                </div>
                <div class="dayheader">
                  Domingo
                </div>
              </div>
              <div class="week">
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      1
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      2
                    </span>
                  </div>
                  <p class="event trade">
                    <strong>Trade</strong><br>
                    Seminario de corte y cocción de cerdo y res en Mexical <br>
                    Comercial de Carnes Frías del Norte <br>
                    <a href="/eventos/2018-03-02/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      3
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      4
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      5
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      6
                    </span>
                  </div>
                  <p class="event retail">
                    <strong>Retail</strong><br>
                    Expo ANTAD & Alimentaria 2018 en Guadalajara <br>
                    JBS, National Beef, Cargill y Tyson <br>
                    <a href="/eventos/2018-03-06/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Seminarios de carne de res Americana<br>
                    Atlantic Prime, Riviera Maya y Cancún <br>
                    <a href="/eventos/2018-03-06-cancun/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      7
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Seminario de etiquetados para la industria de embutidos <br>
                    Asociación de fabricantes de embutidos y carne procesada <br>
                    <a href="/eventos/2018-03-07/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                  <p class="event retail">
                    <strong>Retail</strong><br>
                    Expo ANTAD & Alimentaria 2018 en Guadalajara <br>
                    JBS, National Beef, Cargill y Tyson <br>
                    <a href="/eventos/2018-03-06/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Seminarios de carne de res Americana<br>
                    Atlantic Prime, Riviera Maya y Cancún <br>
                    <a href="/eventos/2018-03-06-cancun/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      8
                    </span>
                  </div>
                  <p class="event retail">
                    <strong>Retail</strong><br>
                    Expo ANTAD & Alimentaria 2018 en Guadalajara <br>
                    JBS, National Beef, Cargill y Tyson <br>
                    <a href="/eventos/2018-03-06/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      9
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      10
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      11
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      12
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      13
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Seminarios de corte y cocción de carne de res en República Dominicana<br>
                    Supermercado CCN, Santo Domingo<br>
                    <a href="/eventos/2018-03-13-centroamerica/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Seminarios de corte y cocción de carne de res en República Dominicana<br>
                    XO de Chihuahua, Los Cabos / Supermercado Bravo, Santo Domingo<br>
                    <a href="/eventos/2018-03-06-cancun/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      14
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Seminarios de corte y cocción de carne de res en República Dominicana<br>
                    Supermercado CCN, Santo Domingo / Supermercado Ramos, Santo Domingo<br>
                    <a href="/eventos/2018-03-13-centroamerica/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      15
                    </span>
                  </div>
                  <p class="event trade">
                    <strong>Trade</strong><br>
                    Seminario de corte y cocción de cerdo y res en Puebla <br>
                    Restaurante Gardela <br>
                    <a href="/eventos/2018-03-15/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      16
                    </span>
                  </div>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Seminario de carne de res Americana en Gardela <br>
                    JBS, National Beef, Cargill y Tyson <br>
                    <a href="/eventos/2018-03-16/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      17
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      18
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      19
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      20
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      21
                    </span>
                  </div>
                  <p class="event technical-services">
                    <strong>Servicios Técnicos</strong><br>
                    Congreso Internacional de la Carme<br>
                    AMEG (Asociación Mexicana de Engordadores de Ganado Bovino) <br>
                    <a href="/eventos/2018-03-21/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      22
                    </span>
                  </div>
                  <p class="event technical-services">
                    <strong>Servicios Técnicos</strong><br>
                    Congreso Internacional de la Carme<br>
                    AMEG (Asociación Mexicana de Engordadores de Ganado Bovino) <br>
                    <a href="/eventos/2018-03-21/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      23
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Taller de carne de cerdo Americana <br>
                    Universidad de Francisco Marroquín, Guatemala <br>
                    <a href="/eventos/2018-03-23/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </a>
                  </p>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      24
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      25
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      26
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      27
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      28
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <calendar-color-codes />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarColorCodes from '~/components/CalendarColorCodes.vue'

export default {
  name: 'Calendario',
  head() {
    return {
      title: 'Calendario',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarColorCodes,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
