<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Calendario
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-1 has-text-centered">
            Eventos
          </h1>
          <div>
            <calendar-color-codes />
            <div class="calendario-grid">
              <p /><div class="header">
                <div>
                  <nuxt-link to="/calendario/2018-06/">
                    <i class="far fa-arrow-left" />
                  </nuxt-link>
                </div>
                <div class="month">
                  Julio
                </div>
                <div>
                  <a href="#"
                     class="innactive">
                    <i class="far fa-arrow-right" />
                  </a>
                </div>
              </div>
              <div class="week days is-hidden-mobile">
                <div class="dayheader">
                  Lunes
                </div>
                <div class="dayheader">
                  Martes
                </div>
                <div class="dayheader">
                  Miércoles
                </div>
                <div class="dayheader">
                  Jueves
                </div>
                <div class="dayheader">
                  Viernes
                </div>
                <div class="dayheader">
                  Sábado
                </div>
                <div class="dayheader">
                  Domingo
                </div>
              </div>
              <div class="week">
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      1
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      2
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      3
                    </span>
                  </div>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Taller de cerdo y res con Vesuvio<br>
                    <nuxt-link to="/eventos/2018-07-03/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      4
                    </span>
                  </div>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Taller de cerdo y res con Vesuvio<br>
                    <nuxt-link to="/eventos/2018-07-03/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      5
                    </span>
                  </div>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Taller de cerdo y res con Vesuvio<br>
                    <nuxt-link to="/eventos/2018-07-03/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Taller de cerdo y res con Tyson México<br>
                    <nuxt-link to="/eventos/2018-07-05/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      6
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      7
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      8
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      9
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      10
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      11
                    </span>
                  </div>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Seminario de carne añejada con XO de Chihuahua<br>
                    <nuxt-link to="/eventos/2018-07-11/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      12
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      13
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      14
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Show de cocción en Kitchen Center Santo Domingo<br>
                    <nuxt-link to="/eventos/2018-07-14/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      15
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      16
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      17
                    </span>
                  </div>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      18
                    </span>
                  </div>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Talleres de cerdo y res con Lainox y Vesuvio<br>
                    <nuxt-link to="/eventos/2018-07-18/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      19
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Entrenamiento para el Pork Festival<br>
                    <nuxt-link to="/eventos/2018-07-19/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Talleres de cerdo y res con Lainox y Vesuvio<br>
                    <nuxt-link to="/eventos/2018-07-18/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      20
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Entrenamiento para el Pork Festival<br>
                    <nuxt-link to="/eventos/2018-07-19/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Talleres de cerdo y res con Lainox y Vesuvio<br>
                    <nuxt-link to="/eventos/2018-07-18/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      21
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      22
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      23
                    </span>
                  </div>
                  <p class="event technical-services">
                    <strong>Technical Services</strong><br>
                    MARKET ACCESS O TECHNICAL SERVICES<br>
                    <nuxt-link to="/eventos/2018-07-23/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      24
                    </span>
                  </div>
                  <p class="event technical-services">
                    <strong>Technical Services</strong><br>
                    MARKET ACCESS O TECHNICAL SERVICES<br>
                    <nuxt-link to="/eventos/2018-07-23/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Miércoles
                    </span>
                    <span class="day-number">
                      25
                    </span>
                  </div>
                  <p class="event technical-services">
                    <strong>Technical Services</strong><br>
                    Seminario de frontera en Mexicali<br>
                    <nuxt-link to="/eventos/2018-07-25-b/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                  <p class="event trade">
                    <strong>TRADE</strong><br>
                    Seminario de nutrición y ventas en Aguascalientes<br>
                    <nuxt-link to="/eventos/2018-07-25/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Jueves
                    </span>
                    <span class="day-number">
                      26
                    </span>
                  </div>
                  <p class="event technical-services">
                    <strong>Technical Services</strong><br>
                    Seminario de frontera en Mexicali<br>
                    <nuxt-link to="/eventos/2018-07-25/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Entrenamiento para el Pork Festival<br>
                    <nuxt-link to="/eventos/2018-07-19/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Taller con Mi Brasa en Monterrey<br>
                    <nuxt-link to="/eventos/2018-07-26/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>

                  <p class="event trade">
                    <strong>TRADE</strong><br>
                    Seminario de nutrición y ventas en Aguascalientes<br>
                    <nuxt-link to="/eventos/2018-07-25/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Viernes
                    </span>
                    <span class="day-number">
                      27
                    </span>
                  </div>
                  <p class="event central-america">
                    <strong>Centroamérica</strong><br>
                    Entrenamiento para el Pork Festival<br>
                    <nuxt-link to="/eventos/2018-07-19/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>

                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Sábado
                    </span>
                    <span class="day-number">
                      28
                    </span>
                  </div>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Domingo
                    </span>
                    <span class="day-number">
                      29
                    </span>
                  </div>
                </div>
              </div>
              <div class="week">
                <div class="day">
                  <div class="daylabel">
                    <span class="day-name">
                      Lunes
                    </span>
                    <span class="day-number">
                      30
                    </span>
                  </div>
                  <p class="event hri">
                    <strong>HRI</strong><br>
                    Taller con Rational en Guadalajara<br>
                    <nuxt-link to="/eventos/2018-07-30/">
                      <fa-icon :icon="['far', 'newspaper']"
                               class="eventlink" />
                    </nuxt-link>
                  </p>
                </div>
                <div class="day is-empty">
                  <div class="daylabel">
                    <span class="day-name">
                      Martes
                    </span>
                    <span class="day-number">
                      31
                    </span>
                  </div>
                </div>
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
                <div class="day" />
              </div>
            </div>

            <calendar-color-codes />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarColorCodes from '~/components/CalendarColorCodes.vue'

export default {
  name: 'Calendario',
  head() {
    return {
      title: 'Calendario',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarColorCodes,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
