<template>
  <div :class="bodyClass">
    <the-header />
    <nuxt />
    <the-footer />
    <alert-cookie />
    <alert-development />
  </div>
</template>

<script>
import TheHeader from '~/components/TheHeader.vue'
import TheFooter from '~/components/TheFooter.vue'
import AlertCookie from '~/components/AlertCookie.vue'
import AlertDevelopment from '~/components/AlertDevelopment.vue'

export default {
  name: 'DefaultLayout',
  components: {
    TheHeader,
    TheFooter,
    AlertCookie,
    AlertDevelopment,
  },
  computed: {
    bodyClass() {
      return this.$route.name
    },
  },
}
</script>

<style>
</style>
