<template>
  <section class="hero is-fullheight">
    <!-- eslint-disable max-len -->
    <div class="hero-body">
      <div class="container">
        <div
          v-if="error.statusCode === 404"
          class="notification is-warning has-text-centered">
          <h2 class="subtitle has-text-centered">
            Página no encontrada
          </h2>
          <p class="">
            <nuxt-link class="button is-black is-outlined"
                       to="/">
              Regresar al inicio
            </nuxt-link>
          </p>
        </div>
        <div v-else
             class="notification is-black has-text-centered">
          <h1 class="title">
            Oops!!
          </h1>
          <h2 class="subtitle">
            Algo extraño sucedió, nuestros ingenieros están trabajando en
            resolver el problema
          </h2>
          <p class="control has-text-centered">
            <a href="/"
               class="button is-white is-outlined">
              Ir al inicio
            </a>
            <span class="button is-black">
              o
            </span>
            <button
              onclick="window.location.href=window.location.href"
              class="button is-white">
              Recargar página
            </button>
            <button class="button is-white"
                    @click="showDetails = true">
              Mostrar errores
            </button>
          </p>
        </div>
        <pre v-if="showDetails">{{ error }}</pre>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Error',
  props: {
    error: {
      type: [Object, Error],
      required: true,
      default: () => ({
        statusCode: 404,
      }),
    },
  },

  data: () => ({
    showDetails: false,
  }),
  computed: {
    parsedError() {
      if (typeof this.error === 'object') {
        return this.error
      }
      if (typeof this.error === 'string') {
        return { message: this.error, statusCode: 500 }
      }
      return Object.assign({}, this.error)
    },
  },
}
</script>

<style>
</style>
