<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Consumidor
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-1 has-text-centered">
            Consumidor
          </h1>

          <p> En esta sección podrás averiguar sobre el origen de los cortes que llegan hasta tu mesa, los tipos de cocción ideales y en tendencia, así como recetas para elevar al máximo los atributos de la carne Americana.</p>

          <div class="consumer-banners">
            <div class="item is-3by2">
              <a
                href="http://cerdosabroso.com"
                target="_blank" 
                rel="noopener noreferrer"
                class="block-anchor">
                CERDOSABROSO
              </a>
              <div class="background-image">
                <img
                  src="/images/banner_uspork.png"
                  alt="Cerdo Sabroso">
              </div>
            </div>
            <div class="item is-3by2">
              <a
                href="http://usbeef.org.mx/"
                target="_blank" 
                rel="noopener noreferrer"
                class="block-anchor">
                USBEEF
              </a>
              <div class="background-image">
                <img
                  src="/images/banner_usbeef.png"
                  alt="US Beef">
              </div>
            </div>
            <div class="item is-3by2">
              <span class="block-anchor">
                CHEFS CARNÍVOROS<br>(En construcción)
              </span>
              <div class="background-image">
                <img
                  src="/images/banner_chefscarnivoros.png"
                  alt="Chefs Carnívoros">
              </div>
            </div>
            <div class="item is-3by2">
              <span class="block-anchor">
                CORDERO<br> (En construcción)
              </span>
              <div class="background-image">
                <img
                  src="/images/banner_cordero.png"
                  alt="Cerdo Sabroso">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'InformacionDeMercado',
  head() {
    return {
      title: 'Consumidor',
      meta: [
        {
          hid: 'Consumidor',
          name: 'Consumidor',
          content: 'My custom description',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
@import '~assets/sass/base/basic';

.consumer-banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .item {
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
    @include mobile {
      width: 95%;
      min-height: 12rem;
      margin: 1rem auto;
    }
    @include tablet {
      width: 48%;
      min-height: 16rem;
    }

    .block-anchor {
      position: absolute;
      z-index: 3;
      display: inline-block;
      width: 100%;
      height: 100%;
      font-weight: bolder;
      color: $white;
      text-align: center;
      text-shadow: 1px 2px 3px $black;
      @include mobile {
        padding-top: 6rem;
      }
      @include tablet {
        padding-top: 6rem;
      }
    }

    .background-image {
      position: absolute;
      object-fit: cover;
    }
  }
}
</style>
