<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Contacto
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <h1 class="title is-1 has-text-centered">
            Contacto
          </h1>
          <p>Para nosotros es un placer atenderte. Si deseas conocer más sobre USMEF o tienes alguna duda, déjanos tú mensaje y te responderemos a la brevedad.</p>
          <generic-form />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import GenericForm from '~/components/GenericForm.vue'

export default {
  name: 'Estructura',
  head() {
    return {
      title: 'Contacto',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Contáctanos por correo',
        },
      ],
    }
  },
  components: {
    GenericForm,
  },
}
</script>
