<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Directorio
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-1 has-text-centered">
            Directorio
          </h1>
          <p class="has-text-centered">
            Staff de USMEF México, Centroamérica y República Dominicana
          </p>
          <!--<img src="/images/organigrama.png" alt="Organigrama USMEF" class="responsive">-->
          <div class="directorio-grid">
            <div class="puesto">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-male.png">
                </div>
                <span class="cargo">
                  Director Regional
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('oferrara@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto second-level has-childs">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-male.png">
                </div>

                <span class="cargo">
                  Dirección de Marketing
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('grodriguez@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-male.png">
                </div>
                <span class="cargo">
                  Gerencia Retail
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('jgarcia@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-male.png">
                </div>
                <span class="cargo">
                  Gerencia Trade
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('lelizalde@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-female.png">
                </div>
                <span class="cargo">
                  Gerencia de Hoteles y Restaurantes
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('hoteles@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-male.png">
                </div>
                <span class="cargo">
                  Chef corporativo
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('gnavarrete@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-female.png">
                </div>
                <span class="cargo">
                  Consultoría Centroamérica y República Dominicana
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('consultor1_CA@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-female.png">
                </div>
                <span class="cargo">
                  Gerencia de Servicios Técnicos y Acceso a Mercado
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('avaldez@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-female.png">
                </div>
                <span class="cargo">
                  Comunicación
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('comunicacion@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-female.png">
                </div>
                <span class="cargo">
                  Contabilidad Centroamérica
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('emarquez@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
            <div class="puesto third-level">
              <div class="user">
                <div class="photo">
                  <img src="/images/placeholder/user-female.png">
                </div>
                <span class="cargo">
                  Contabilidad México
                </span><br>
                <a
                  class="button is-primary"
                  @click="openContactModal('colivos@usmef.org')">
                  Contacto
                </a>
              </div>
            </div>
          </div>
          <div class="inner-selector">
            <div class="item is-3by2">
              <nuxt-link to="/informacion-de-mercado">
                Información de mercado
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/estructura">
                Estructura
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/directorio">
                Directorio
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/contacto">
                Contáctanos
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      :active.sync="showContactModal"
      has-modal-card>
      <generic-form
        :default-mail="selectedMail"
        class="card" />
    </b-modal>
  </div>
</template>
<script>
import GenericForm from '~/components/GenericForm.vue'

export default {
  name: 'Directorio',
  head() {
    return {
      title: 'Directorio',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description',
        },
      ],
    }
  },
  components: { GenericForm },
  data: () => ({
    showContactModal: false,
    selectedMail: null,
  }),
  methods: {
    openContactModal(mail) {
      if (!mail) return
      this.selectedMail = mail
      this.showContactModal = true
    },
  },
}
</script>

<style lang="scss">
@import '~assets/sass/base/basic';

.directorio-grid {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  overflow: auto;
  @include mobile {
    grid-template-columns: auto;
  }
  @include tablet {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: 769px) and (max-width: 1407px) {
    background-image: url('/images/fondo-organigrama@small.png?v=4');
    background-repeat: no-repeat;
    background-size: contain;
  }
  @media (min-width: 1408px) {
    background-image: url('/images/fondo-organigrama.png?v=4');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .photo {
    border: 7px solid rgba($azulmasdarks, 0.2);
    @include mobile {
      width: 50px;
      height: 60px;
      max-height: 50px;
      margin: 5px;
      border-radius: 50%;
    }
    @include tablet {
      width: 60px;
      height: 60px;
      margin: 1rem auto 0;
      border-radius: 50%;
    }
  }

  .name {
    display: inline-block;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bolder;
    color: $grisdarks;
  }

  .button {
    margin: 1rem;
  }

  .puesto {
    background: $white;
    border: 1px solid $gris-claro;

    @include mobile {
      .user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .photo {
        min-width: 50px;
      }

      .cargo {
        width: 40%;
        text-align: left;
      }
    }
    @include tablet {
      display: inline-block;
      padding-top: 10px;
      text-align: center;
    }

    &:nth-child(1) {
      @include tablet {
        grid-column: 5 / span 2;
      }
    }

    &.second-level {
      @include tablet {
        grid-row-start: 2;
        grid-column-start: 2;
        margin-top: 40px;
      }
    }

    &.third-level {
      @include tablet {
        grid-row-start: 3;
        margin-top: 40px;
      }
    }
  }
}
</style>
