<template>
  <main>
    <!-- eslint-disable max-len -->
    <nav class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Industria
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Educación y capacitación
      </span>
    </nav>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-h1 has-text-centered">
            Educación y capacitación
          </h1>
          <p class="is-size-5">
            En USMEF estamos comprometidos con la preparación sobre diversos temas de la cadena productiva de quienes pertenecen a la industria cárnica. Es por ello que brindamos una gran variedad de actividades para que, nuestros socios comerciales, fortalezcan sus negocios y continúen ofertando carne roja Americana de calidad.
          </p>
          <nav class="tabs is-centered util-space__top--2x">
            <ul>
              <nuxt-link to="/educacion-capacitacion/trade"
                         tag="li">
                <a>Trade</a>
              </nuxt-link>
              <nuxt-link to="/educacion-capacitacion/retail"
                         tag="li">
                <a>Retail</a>
              </nuxt-link>
              <nuxt-link to="/educacion-capacitacion/HRI"
                         tag="li">
                <a>HRI</a>
              </nuxt-link>
              <nuxt-link to="/educacion-capacitacion/centro-america"
                         tag="li">
                <a>Centro América</a>
              </nuxt-link>
              <nuxt-link to="/educacion-capacitacion/servicios-tecnicos"
                         tag="li">
                <a>Servicios técnicos</a>
              </nuxt-link>
            </ul>
          </nav>
          <nuxt-child />
          <div class="inner-selector">
            <div class="item is-3by2">
              <a
                href="https://www.youtube.com/watch?v=zfquZntF8uU&feature=youtu.be"
                target="_blank"
                rel="noopener noreferrer">
                Video
              </a>
            </div>
            <div class="item is-3by2">
              <a href="#">
                Descargar PDFs
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'PageEducacionCapacitacion',
}
</script>
