<template lang="html">
  <div class="pg-estructura">
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Estructura
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-1 has-text-centered">
            Estructura
          </h1>
          <p><strong>USMEF</strong> es una organización que recibe financiamiento de quienes la conforman: productores y alimentadores de ganado bovino y porcino, empacadores y procesadores, proveedores y comercializadores, productores de semillas y cereales para la alimentación de ganado.</P>
          <p>Como asociación que coopera con el Departamento de Agricultura de los Estados Unidos (USDA, por sus iniciales en inglés), los fondos también provienen de los programas: Market Access, Emerging Market y Foreign Market Development, además de Checkoff de carne de res, cerdo, maíz y soya.</p>
          <p>De esta forma, <strong>USMEF</strong> busca el aumento del valor y la rentabilidad de la industria de la carne roja americana, al conseguir el incremento de la demanda de sus productos en los distintos mercados de exportación con los que tiene relación.</p>

          <picture class="inner-image">
            <source
              srcset="/images/funding-sources@mobile.png 959w"
              media="(max-width: 959px)">
            <source srcset="/images/funding-sources@desktop.png 960w">
            <img
              src="/images/funding-sources.png"
              alt="Founding Sources">
          </picture>

          <div class="inner-selector">
            <div class="item is-3by2">
              <nuxt-link to="/informacion-de-mercado">
                Información de mercado
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/estructura">
                Estructura
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/directorio">
                Directorio
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/contacto">
                Contáctanos
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Estructura',
  head() {
    return {
      title: 'Estructura',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
@import '~assets/sass/base/basic';

.pg-estructura {
  .inner-image {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
</style>
