<template>
  <main class="hero is-fullheight is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1-desktop">
          ¡Muchas gracias!
        </h1>
        <p class="subtitle">
          Tu satisfacción es lo más importante.<br />
          Pronto nos pondremos en contacto.
        </p>
        <!--
          Aquí se sugiere tener un CTA que mantenga
          al usuario en comunicación con la marca
        -->
        <div class="box">
          <p>
            ¿Ya nos sigues en redes sociales?
            <br>
            <br>
            <a href="https://www.facebook.com/USMEFMex/"
               target="_blank"
               rel="noopener noreferrer"
               class="button is-info is-large">
              <span class="icon is-large">
                <fa-icon :icon="['fab', 'facebook-square']"
                         size="2x" />
              </span>
            </a>
            <a href="https://twitter.com/USMEF_Mex_CA_RD"
               target="_blank"
               rel="noopener noreferrer"
               class="button is-info is-large">
              <span class="icon is-large">
                <fa-icon :icon="['fab', 'twitter']"
                         size="2x" />
              </span>
            </a>
            <a href="https://www.instagram.com/usmef_mex/"
               target="_blank"
               rel="noopener noreferrer"
               class="button is-info is-large">
              <span class="icon is-large">
                <fa-icon :icon="['fab', 'instagram']"
                         size="2x" />
              </span>
            </a>
            <a href="https://www.youtube.com/channel/UCqs5T4KG8EeNG7Mtl8Ez1ow?view_as=subscriber"
               target="_blank"
               rel="noopener noreferrer"
               class="button is-info is-large">
              <span class="icon is-large">
                <fa-icon :icon="['fab', 'youtube']"
                         size="2x" />
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'PageGracias',
  head: {
    title: 'Gracias',
    meta: [{ name: 'robots', content: 'noindex' }],
  },
  mounted() {
    // Aquí ejecuta las acciones de rastreo de leads
  },
}
</script>
