<template>
  <main class="pg-index">
    <!-- eslint-disable max-len -->
    <div class="cover">
      <div class="sector">
        <div class="sector__content">
          <h2 class="title is-2">
            Nosotros
          </h2>
          <p class="description">
            Descubre cómo nos conformamos y mayor información de la industria
          </p>
          <nuxt-link to="/nosotros"
                     class="is-call-to-action">
            Ver más
          </nuxt-link>
        </div>
        <picture class="sector__background">
          <source
            srcset="/images/home/rastro@mobile.jpg"
            media="(max-width: 400px)">
          <source srcset="/images/home/rastro@desktop.jpg">
          <img
            class="image"
            src="/images/home/rastro@desktop.jpg"
            alt="USMef">
        </picture>
      </div>
      <div class="sector">
        <div class="sector__content">
          <h2 class="title is-2">
            Consumidor
          </h2>
          <p class="description">
            Averigua de forma interactiva lo que la carne Americana te ofrece
          </p>
          <nuxt-link to="/consumidor"
                     class="is-call-to-action">
            Ver más
          </nuxt-link>
        </div>
        <picture class="sector__background">
          <source
            srcset="/images/home/carne@mobile.jpg"
            media="(max-width: 400px)">
          <source srcset="/images/home/carne@desktop.jpg">
          <img
            class="image"
            src="/images/home/carne@desktop.jpg"
            alt="USMef">
        </picture>
      </div>
      <div class="sector">
        <div class="sector__content">
          <h2 class="title is-2">
            Industria
          </h2>
          <p class="description">
            Conoce los sectores en los cuales enfocamos nuestros esfuerzos
          </p>
          <nuxt-link to="/industria"
                     class="is-call-to-action">
            Ver más
          </nuxt-link>
        </div>

        <picture class="sector__background">
          <source
            srcset="/images/home/industria@mobile.jpg"
            media="(max-width: 400px)">
          <source srcset="/images/home/industria@desktop.jpg">
          <img
            class="image"
            src="/images/home/industria@desktop.jpg"
            alt="USMef">
        </picture>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'Index',
}
</script>

<style lang="scss">
@import '~assets/sass/base/basic';

@mixin cover-sizes {
  @include mobile {
    width: 100vw;
    height: 33.333vh;
  }
  @include tablet {
    width: 33.333vw;
    height: 100vh;
  }
}

.pg-index {
  .sector {
    @include cover-sizes;
    position: relative;
    display: flex;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    .title {
      color: $white;
      text-shadow: 2px 2px 3px $black;
      @include mobile {
        font-size: 1.3rem;
      }
      @include tablet {
        font-size: 2.1rem;
      }
    }

    .description {
      margin: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: bolder;
      color: $white;

      @include tablet {
        font-size: 1.2rem;
      }
    }

    &__content {
      z-index: 3;
      padding: 1rem 0;
    }

    &__background {
      @include cover-sizes;
      position: absolute;
      z-index: 1;
      background-color: $grey;

      &::before {
        @include cover-sizes;
        position: absolute;
        left: 0;
        z-index: 2;
        content: '';
        background-color: rgba($black, 0.7);
      }

      .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center center;
      }
    }
  }

  .cover {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  .is-call-to-action {
    padding: 0.5rem;
    margin-top: 1rem;
    font-weight: bolder;
    color: $azul;
    background-color: rgba($black, 0.6);
    border-radius: 0.3rem;

    &:hover {
      color: $white;
    }
  }
}
</style>
