<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Información de Mercado
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <h1 class="title is-1 has-text-centered">
            Información de mercado
          </h1>
          <h2 class="title is-3">
            Newsletter
          </h2>
          <p>USMEF recopila los datos de exportaciones y precios de carne roja americana que entra a México, así como las noticias más importantes de la industria</p>
          <div class="newsletter-container">
            <h5 class="title is-5">
              2017
            </h5>
            <div class="year">
              <a
                href="/newsletters/2017-10.pdf"
                download="/newsletters/2017-10.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Octubre
              </a>
              <a
                href="/newsletters/2017-11.pdf"
                download="/newsletters/2017-11.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Noviembre
              </a>
              <a
                href="/newsletters/2017-12.pdf"
                download="/newsletters/2017-12.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Diciembre
              </a>
            </div>
            <h5 class="title is-5">
              2018
            </h5>
            <div class="year">
              <a
                href="/newsletters/2018-01.pdf"
                download="/newsletters/2018-01.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Enero
              </a>
              <a
                href="/newsletters/2018-02.pdf"
                download="/newsletters/2018-02.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Febrero
              </a>
              
              <a
                href="/newsletters/2018-04.pdf"
                download="/newsletters/2018-04.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Abril
              </a>
              <a
                href="/newsletters/2018-05.pdf"
                download="/newsletters/2018-05.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Mayo
              </a>
              <a
                href="/newsletters/2018-06.pdf"
                download="/newsletters/2018-06.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Junio
              </a>
              <a
                href="/newsletters/2018-07.pdf"
                download="/newsletters/2018-07.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Julio
              </a>
              <a
                href="/newsletters/2018-08.pdf"
                download="/newsletters/2018-08.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Agosto
              </a>
              <a
                href="/newsletters/2018-09.pdf"
                download="/newsletters/2018-09.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Septiembre
              </a>
              <a
                href="/newsletters/2018-10.pdf"
                download="/newsletters/2018-10.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Octubre
              </a>
              <a
                href="/newsletters/2018-11.pdf?v=2"
                download="/newsletters/2018-11.pdf"
                target="_blank" 
                rel="noopener noreferrer">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Noviembre
              </a>
              <a
                href="/newsletters/2018-12.pdf?v=1"
                download="/newsletters/2018-12.pdf"
                target="_blank">
                <b-icon icon="file-pdf"
                        size="is-small"
                        class="has-text-secondary" />
                Diciembre
              </a>
            </div>
          </div>

          <h2 class="title is-3">
            Reportes Económicos
          </h2>
          <p>USMEF reporta mes a mes las cifras de exportación de carne americana a distintos países del mundo, comparativas de crecimiento con años anteriores y tendencias recientes de exportación. Consúltalas aquí:</p>

          <a
            class="is-link is-large"
            href="http://www.usmef.org/usmef-statistics-and-trade-access/export-statistics/"
            target="_blank"
            rel="noopener">
            http://www.usmef.org/usmef-statistics-and-trade-access/export-statistics/
          </a>

          <p>Por su parte, el Departamento de Agricultura de Estados Unidos (USDA, por sus iniciales en inglés) reporta datos del Servicio de Investigación Económica (ERS), del Servicio Agrícola Extranjero (far) y del Servicio Nacional de Estadísticas Agrícolas (NASS), sobre temas económicos, de producción, ventas, estadísticas y censos agrícolas. Consúltalos aquí:</p>

          <a
            class="is-large is-link"
            href="https://www.usda.gov/topics/data"
            target="_blank"
            rel="noopener">
            https://www.usda.gov/topics/data
          </a>
          <div class="inner-selector">
            <div class="item is-3by2">
              <nuxt-link to="/informacion-de-mercado">
                Información de mercado
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/estructura">
                Estructura
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/directorio">
                Directorio
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/contacto">
                Contáctanos
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'InformacionDeMercado',
  head() {
    return {
      title: 'Información de Mercado',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
@import '~assets/sass/base/basic';

.newsletter-container {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $gris-claro;
  border-radius: 0.5rem;

  .title {
    color: $gris;
    border-bottom: 1px solid $gris-claro;
  }

  .year {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include mobile {
      text-align: left;
      flex-direction: column-reverse;
    }
    @include tablet {
      text-align: left;
      flex-direction: row;
      align-items: center;
    }
  }
}

.year {
  a,
  .no-link {
    display: inline-block;
    padding: 0.5rem;
    @include mobile {
      width: 95%;
    }
    @include tablet {
      width: 25%;
    }
  }
}
</style>
