<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Nosotros
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <h1 class="title is-1 has-text-centered">
            Nosotros
          </h1>
          <p><strong>U.S. Meat Export Federation (USMEF)</strong> es una asociación sin fines de lucro que dedica todos sus esfuerzos a crear caminos más fáciles para la comercialización de carne roja americana de alta calidad en diferentes países del mundo.</p>
          <p>Representa a los productores de ganado, empacadores, procesadores, proveedores, compañías exportadoras, grupos promotores de granos, organizaciones de granjas y empresas de la agroindustria de Estados Unidos.</p>
          <p>A más de 30 años de su fundación, cuenta con oficinas centrales en Denver, Colorado, y con sedes foráneas en Tokio, Seúl, Beijing, Hong Kong, Shangai, Singapur, Taipei, Moscú, San Petesburgo, Bruselas y México. Además, tiene presencia en Medio Oriente, Europa, Sudamérica y el Caribe.</p>
          <video
            id="bgvid"
            poster="/video/USMEF_about_us.jpg"
            class="videoplayer is-3by2"
            playsinline
            controls>
            <source
              src="/video/USMEF_about_us.mp4"
              type="video/mp4">
          </video>
          <div class="inner-selector">
            <div class="item is-3by2">
              <nuxt-link to="/informacion-de-mercado">
                Información de mercado
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/estructura">
                Estructura
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/directorio">
                Directorio
              </nuxt-link>
            </div>
            <div class="item is-3by2">
              <nuxt-link to="/contacto">
                Contáctanos
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'QuienesSomos',
  head() {
    return {
      title: 'Nosotros',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description',
        },
      ],
    }
  },
}
</script>
