<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de carne de res Americana en Hacienda Real Centroamérica
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                1 de Junio
              </h4>
            </div>
          </div>
          <p>El objetivo de esta actividad fue capacitar y reforzar el conocimiento del personal de este importante socio comercial en Guatemala, sobre el origen, las características y la calidad de la carne de res estadounidense.</p>
          <p>Más de 25 meseros, chefs y maestros parrilleros asistieron al seminario, en el cual, Saúl Bueso platicó sobre los grados de calidad, marmoleo y el origen de los cortes.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de ventas especializadas en Querétaro',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
