<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Taller con Mi Brasa en Monterrey
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                26 de Julio
              </h4>
            </div>
          </div>

          <p>El taller se llevó a cabo en la ciudad de Monterrey para capacitar a compradores de carne, chefs, gerentes y propietarios de la industria de hoteles y restaurantes, sobre los atributos y características clave de los productos de carne de res y de cerdo americana. Nuestro consultor, Luis Pachuca, expuso sobre la industria cárnica de los Estados Unidos, además de realizar una demostración de cortes.</p>
          <div class="imagebox">
            <img class="image is-responsive"
                 src="/images/eventos/julio-monterrey.jpg"  
                 alt="Taller con Mi Brasa en Monterrey">
          </div>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Taller con Mi Brasa en Monterrey',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
