<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Congreso Internacional de la Carne
          </h1>
          <div class="date-gid">
            <div class="date-grid-item">
              <h4 class="date">
                21 y 22 Marzo 2018
              </h4>
              <h4 class="place">
                AMEG (Asociación Mexicana de Engordadores de Ganado Bovino)
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/congreso-carne.jpg"
                alt="Congreso Internacional de la Carme">
            </div>
          </div>
          <p>Jessica Spreitzer, analista de mercado de USMEF, dio una charla sobre las tendencias de la carne roja en el mundo en el marco del Congreso Internacional de la Carne, organizado por la AMEG (Asociación Mexicana de Engordadores de Ganado Bovino).</p>
          <p>Este evento reunió a la mayoría de los miembros de AMEG y personal clave de la industria de la carne roja.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Congreso Internacional de la Carme',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
