<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Beef Grill Master
          </h1>
          <h4 class="date">
            25 de enero
          </h4>
          <h4 class="place">
            Restaurante Hacienda Real
          </h4>

          <div class="imagebox">
            <div class="image  sideimage">
              <img
                src="/images/eventos/seminario-beef-master-01-2018.jpg"
                alt="Imported Pork Seminar">
            </div>
          </div>
          <p>El seminario Beef Grill Master, realizado para la cadena de restaurantes Hacienda Real, en Guatemala, fue un momento importante para que el importador fortaleciera la lealtad con sus clientes, y así lograr que recuerden su marca y continúen consumiendo los productos de carne de res Americana que comercializan. </p>

          <p>Con una introducción teórica y después una etapa práctica, los asistentes aprendieron sobre los beneficios y métodos para cocinar los cortes de carne de res Americana, entre ellos, el coulotte, arrachera y boneless short ribs.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Beef Grill Master',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
