<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h4 class="">
            <h1 class="title is-1">
              Seminario de corte y cocción de cerdo y res en Puebla
            </h1>
            <div class="date-grid">
              <div class="date-grid-item">
                <h4 class="date">
                  15 de marzo 2018
                </h4>
                <h4 class="place">
                  Instituto Culinario de México
                </h4>
              </div>
            </div>

            <div class="imagebox">
              <div class="image sideimage">
                <img
                  src="/images/eventos/seminario-corte-puebla.jpg"
                  alt="Seminario de corte y cocción de cerdo y res en Puebla">
              </div>
            </div>
            <p>USMEF organizó, por primera vez en Puebla, un seminario de corte y cocción de cerdo y res Americana para los importadores, procesadores y compañías de foodservice más importantes de la ciudad.</p>
            <p>Durante la actividad, los más de 20 asistentes aprendieron sobre cortes como los baseball y cap sirloin steaks, obtenidos del top sirloin, o los Denver steaks, obtenidos del chuck roll. Además, conocieron el proceso de producción de la carne de res y cerdo Americana, con el objetivo de que conozcan los productos y distribuyan la información a sus clientes.</p>
          </h4>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
