<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Taller de carne de res, cerdo y cordero con Rational
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                25 de abril
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image fullwidth">
              <img
                src="/images/eventos/taller-25-abril.jpg"
                alt="Taller de carne de res, cerdo y cordero con Rational">
            </div>
          </div>
          <p>El Instituto Regiomontano de Hotelería, en Monterrey, fue sede del seminario para chefs, gerentes y propietarios de la industria de hoteles y restaurantes, con el objetivo de informarlos sobre los principales atributos y características de los productos de carne Americana de res, cerdo y cordero.</p>
          <p>Los asistentes experimentaron los beneficios del uso de carnes rojas estadounidenses para crear platos de calidad, utilizando los hornos Rational.</p>
          <p>El chef corporativo de USMEF, Germán Navarrete, presentó los principios básicos de la carne de res, cerdo y cordero de los Estados Unidos y la importancia de una correcta manipulación de ésta dentro y fuera de la cocina. Después, hizo una demostración de cortes y habló sobre los métodos de cocción. A su vez, Pavel Flores, chef ejecutivo de Rational, habló sobre la tecnología de poseen los hornos de esa marca y mostró el manejo del equipo.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
