<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminarios teóricos de carne de res Americana
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                9 de febrero de 2018
              </h4>
              <h4 class="place">
                Belca Guatemala
              </h4>
            </div>
            <div class="date-grid-item">
              <h4 class="date">
                16 de febrero de 2018
              </h4>
              <h4 class="place">
                Procasa Guatemala
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/theoretical-seminar.jpg"
                alt="Imported Pork Seminar">
            </div>
          </div>
          <p>Con el objetivo de dar a conocer las características, beneficios, cortes, términos de cocción, cadena de frío y manejo de la carne de res y cerdo Americana, USMEF llevó a cabo tres seminarios con dos de las principales empresas importadoras de carne estadounidense en Guatemala.</p>
          <p>Cortes res como brisket y striploin bone in; y de cerdo como tenderloin, loin, cushion meat y baby back ribs, fueron trabajados en la sesión práctica y cocinados a término medio. En los seminarios de cerdo, se resaltó que los cortes de carne de cerdo cocinados a término medio no producen ninguna enfermedad y son seguros para su consumo.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
