<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de ventas especializadas en Querétaro
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                30 y 31 de Mayo
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image fullwidth">
              <img
                src="/images/eventos/ventas-especializadas-queretaro.jpg"
                alt="Seminario de res y cerdo en Cancún">
            </div>
          </div>
          <p>Este seminario tuvo lugar en las instalaciones del Tecnológico de Monterrey en Querétaro. Los socios comerciales que representan al sector de Hoteles y Restaurantes en esta ciudad del centro del país participaron en esta actividad en la que aprendieron sobre ventas efectivas y aspectos nutricionales de la carne de cerdo Americana.</p>
          <p>El objetivo principal de USMEF fue compartir con los asistentes las ventajas a la salud que ofrecen los productos porcinos provenientes de Estados Unidos, además de brindarles información sobre sus atributos y características.</p>
          <p>Otro objetivo fue fomentar la lealtad de compra de los socios comerciales mediante el apoyo a la profesionalización de las áreas de ventas de sus empresas, consiguiendo que sean más efectivos al comunicar a sus consumidores las ventajas de los productos porcinos Americanos.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de ventas especializadas en Querétaro',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
