<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de nutrición y ventas en Aguascalientes
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                25 de JuLio
              </h4>
            </div>
          </div>

          <p>
            Este seminario se realizó en el ITESM Monterrey, en Aguascalientes, uno de los mercados más importantes de México para productos porcinos. El objetivo principal fue promover el consumo de carne de cerdo estadounidense, informando a los asistentes sobre los atributos de esta proteína y sus beneficios para la salud.
          </P>
          <p>También, se realizó una capacitación sobre ventas, brindando a los participantes conocimientos sobre negociación, liderazgo e inteligencia emocional.</p>
          <div class="imagebox">
            <img class="image is-responsive"
                 src="/images/eventos/julio-aguascalientes.jpg"  
                 alt="Seminario de nutrición y ventas en Aguascalientes">
          </div>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de nutrición y ventas en Aguascalientes',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
