<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Convención Anual del Consejo Mexicano de la Carne (Comecarne)
          </h1>

          <h4 class="date">
            14, 15 y 16 de febrero
          </h4>
          <h4 class="place">
            Comecarne
          </h4>


          <div class="imagebox">
            <div class="image  sideimage">
              <img
                src="/images/eventos/15-febrero.jpg"
                alt="Imported Pork Seminar">
            </div>
          </div>
          <p>El personal de USMEF asistió a la edición número 34 de la Convención Anual del Consejo Mexicano de la Carne. Durante el evento, Oscar Ferrara, Director Regional de USMEF México, Centroamérica y República Dominicana; Gerardo Rodríguez, Director de Mercadotecnia, y Alejandra Valdez, Gerente de Servicios Técnicos, se reunieron con representantes clave del gobierno y miembros de la industria cárnica.</p>
          <p>Los temas de las distintas presentaciones hablaron sobre las tendencias del mercado mexicano de la carne, el etiquetado nutricional en todo el mundo, la sostenibilidad del ganado, entre otros.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Convención Anual del Consejo Mexicano de la Carne (Comecarne)',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
