<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Expo ANTAD & Alimenaria 2018 en Guadalajara
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                6, 7 y 8 de marzo de 2018
              </h4>
              <h4 class="place">
                JBS, National Beef, Cargill y Tyson
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/antad.jpg"
                alt="Placeholder image">
            </div>
          </div>
          <p>Durante la edición número 35 de la Expo ANTAD & Alimenaria, el evento más importante de la industria de tiendas departamentales y de autoservicio en Latinoamérica, los miembros de la USMEF participantes tuvieron la oportunidad de reunirse con importadores actuales y potenciales de carne de res y cerdo Americana que, a su vez, buscaron colocar sus productos en las cadenas de autoservicio más importantes.</p>
          <p>El pabellón de la USMEF fue el espacio donde se conocieron tendencias en cortes, preparación y conservación de la carne de res y cerdo Americana; además, se difundió, entre los líderes del mercado, las actividades educativas que lleva a cabo la USMEF, como lo son seminarios de ventas, de creación de nuevos productos cárnicos, de cortes y cocción, entre otros, con los cuales la organización busca hacer sinergia con la industria nacional para lograr las prácticas en toda la cadena productiva cárnica.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Expo ANTAD & Alimenaria 2018 en Guadalajara',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
