<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Taller de carne de cerdo Americana
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                23 de marzo
              </h4>
              <h4 class="place">
                Universidad de Francisco Marroquín, Guatemala
              </h4>
            </div>
          </div>

          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/taller-cerdo-americana.jpg"
                alt="Taller de carne de cerdo Americana">
            </div>
          </div>
          <p>USMEF organizó un taller con estudiantes de las carreras de Gastronomía y Nutrición de la Universidad de Francisco Marroquín, en la ciudad de Guatemala, con el objetivo de difundir entre la comunidad académica los beneficios, origen, corte y términos de cocción de la carne de cerdo Americana.</p>
          <p>Después de la sesión teórica, impartida por el consultor, Saúl Bueso, donde les habló de crianza, beneficios y atributos de esta proteína, continuó la parte práctica, donde cocinaron lomo de cerdo término medio y tenderloin con vegetales asados.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
