<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Show de cocción en Kitchen Center Santo Domingo
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                14 de Julio
              </h4>
            </div>
          </div>

          <p>USMEF realizó una plática con un nutriólogo y entrenador físico para compartir con la audiencia los beneficios que la carne de cerdo americana tiene en la salud. Además, se realizó una demostración de corte y cocción para los asistentes que buscan un estilo de vida más saludable.</p>
          <p>Este taller fue patrocinado en conjunto con IMEX, un importador creciente de productos estadounidenses en el área de Santo Domingo.</p>
          <div class="imagebox">
            <img class="image is-responsive"
                 src="/images/eventos/julio-santodomingo.jpg"  
                 alt="Show de cocción en Kitchen Center Santo Domingo">
          </div>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Taller con Rational en Guadalajara',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
