<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario con Loma Linda
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                12, 13 y 16 de abril
              </h4>
              <h4 class="place">
                Facultad de Veterinaria, UNAM
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/loma-linda-abril.jpg"
                alt="Seminario de res y cerdo Americana">
            </div>
          </div>
          <p>En los diferentes restaurantes de Loma Linda, USMEF llevó a cabo una capacitación para el personal operativo de este socio comercial, entre ellos, meseros, cocineros y gerentes, para que conocieran los atributos y características clave de los productos de carne de res Americana y experimentaran sus beneficios en platillos de calidad.</p>
          <p>Nuestro chef corporativo, Germán Navarrete, resaltó la importancia de la correcta manipulación de la carne de res Americana dentro y fuera de la cocina. Además, habló sobre los métodos de cocción ideales y tendencias gastronómicas</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
