<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario AMEXITEC
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                16 al 18 de abril
              </h4>
              <h4 class="place">
                Facultad de Veterinaria, UNAM
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/amexitec-16.jpg"
                alt="Seminario de res y cerdo Americana">
            </div>
          </div>
          <p>En las instalaciones de la Facultad de Veterinaria, de la Universidad Nacional Autónoma de México (UNAM), el Consejo Directivo y los miembros de la Asociación Mexicana de Ciencias de la Carne (AMEXITEC) llevaron a cabo una serie de cursos y presentaciones sobre la ciencia de la carne.</p>
          <p>El seminario permitió a USMEF mantener vínculos de cooperación con AMEXITEC y, a la vez, que nuestra organización esté presente en la mesa sobre la clasificación de la carne mexicana.</p>
          <p>USMEF fue patrocinador de un par de ponencias sobre la importancia de la carne roja en una dieta saludable, dictadas por los doctores Nelson Huerta y María Salud Rubio, ante una audiencia de científicos especializados en carnes, miembros de la industria y estudiantes de veterinaria.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
