<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Expo CALA 2018
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                23 y 24 de abril
              </h4>
              <h4 class="place">
                Feria de alimentos Expo CALA
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/expo-cala.jpg"
                alt="Expo CALA 2018">
            </div>
          </div>
          <p>USMEF participó en la feria de alimentos Expo CALA, organizada por Hilton, para mostrar a la audiencia, entre los que se encontraron gerentes, personal de compras y directores, las ventajas de usar carne de res Americana en sus hoteles, así como la versatilidad de los productos estadounidenses.</p>
          <p>El chef Germán Navarrete presentó los atributos y características de la carne de res y mostró opciones para el servicio a la habitación, el menú del restaurante y del bufet, para que los miembros de la industria puedan aprovechar la gran variedad de cortes existentes y resulten atractivos para sus comensales.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
