<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de importación de carne de cerdo Americana
          </h1>
          <h4 class="date">
            19 de enero
          </h4>
          <h4 class="place">
            Walmart Roosevelt
          </h4>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/activity-report-guatemala-19-01-2018.jpg"
                alt="Imported Pork Seminar">
            </div>
          </div>
          <p>USMEF realizó el seminario de importación de carne de cerdo Americana en la tienda Walmart Roosvelt, ubicada en Guatemala, número uno en ventas dentro de Centroamérica. El objetivo de esta actividad fue lograr que el personal del área de carnicería de la cadena de autoservicio adquiriera los conocimientos básicos sobre el origen, los cortes, la cadena de frío y el manejo de la carne de cerdo Americana.</p>
          <p>Se hizo hincapié en los diferentes tipos de costillas, ya que es uno de los productos que más venden y, en consecuencia, de los más importados.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
