<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Butchers´ School
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                4 de abril
              </h4>
              <h4 class="place">
                San Juan de Los Lagos, Jalisco
              </h4>
            </div>
          </div>

          <div class="imagebox">
            <div class="image fullwidth">
              <img
                src="/images/eventos/butchers-abril.jpg"
                alt="Taller de carne de cerdo Americana">
            </div>
          </div>
          <p>El objetivo de esta actividad fue comunicarles a los importadores de la región de Jalisco, como Proteína Animal S.A. de C.V. (PROAN), y carnicerías, como Superdoña, los atributos de carne y cerdo estadounidense y explicarles la nomenclatura de los cortes para facilitar su comprensión.</p>
          <p>Este evento tuvo lugar en las instalaciones de PROAN, en San Juan de Los Lagos, Jalisco. La compañía estaba muy interesada en capacitar al personal de ventas y producción, ya que las carnicerías son la principal red de distribución de canales para comercializar en México.</p>
          <p>El consultor de USMEF, Luis Pachuca, impartió la sesión teórica a 30 trabajadores sobre los atributos de la carne de cerdo y res Americana. Hizo hincapié la calidad y explicó a los asistentes cómo obtener piezas primarias y cortes específicos.</p>
          <p>Los principales cortes de carne de res Americana que trabajaron fueron: chuck roll, prime rib, short loin y sirloin. Después, aprendieron cómo obtener cortes más específicos como chuck eye roll steak, Denver steak, cowboy, ribeye boin in, rib eye lip on, ribeye cap, T-bone, New York, tender loin bone in, top sirloin cap, sirloin center steak y baseball steak.</p>
          <p>De la carne de cerdo Americana obtuvieron cortes como el jowl steak, Boston butt, picnic, cushion, pectoral meat, rib eye, T-bone, pork wings, New York, tenderloin medallion, back ribs, spared ribs y pork belly.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
