<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de corte y cocción con Walmart Costa Rica
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                7 de Junio
              </h4>
            </div>
          </div>
          <p>
            Con más de 231 tiendas en Costa Rica, Walmart es un cliente importante para la industria cárnica americana. Debido a esto, USMEF organizó un seminario al que asistieron 103 personas, entre ellos, gerentes de tienda, carniceros y supervisores de productos perecederos.
          </p>
          <p>
            El seminario, impartido por nuestro consultor, Saul Bueso, brindó capacitación básica sobre el origen, los cortes, la cadena de frío y el manejo de la carne de cerdo y res americana. Después, el chef Pablo Lou les enseñó cómo asar varios cortes para culminar con su degustación.
          </p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de corte y cocción con Walmart Costa Rica',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
