<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario especializado en ventas y nutrición en ITESM Guadalajara
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                15 de Mayo
              </h4>
            </div>
            <div class="date-grid-item">
              <h4 class="date">
                17 de Mayo
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image fullwidth">
              <img
                src="/images/eventos/seminario-tecnico-guatemala.png"
                alt="Seminario especializado en ventas y nutrición en ITESM Guadalajara">
            </div>
          </div>
          <p>Este seminario tuvo lugar en el Tecnológico de Monterrey, en Guadalajara, Jalisco. Se llevó a cabo en esta ciudad porque Guadalajara es uno de los mercados más importantes de México para los productos porcinos de los Americanos.</p>
          <p>El principal objetivo de USMEF fue promover el consumo de carne de cerdo estadounidense rompiendo mitos sobre esta proteína y dando a los asistentes información sobre sus atributos y características. Además, los especialistas en nutrición hablaron sobre los beneficios de su consumo para la salud humana.</p>
          <p>Otro objetivo fue capacitar y profesionalizar a las áreas de ventas de las empresas importadoras asistentes. En USMEF estamos convencidos que estos seminarios les ayudarán a ser más efectivos en la comunicación con sus consumidores sobre las ventajas de los productos de carne de cerdo estadounidense, logrando aumentar sus ventas e importaciones.</p>
          <p>Veinte socios comerciales que representan al sector comercial y la industria de hoteles y restaurantes participaron en el seminario que duró dos días. En la primera jornada, los asistentes aprendieron sobre ventas efectivas y nutrición. El segundo día, se capacitaron en ventas avanzadas.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
