<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de res en Puerto Vallarta
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                24 de febrero
              </h4>
              <h4 class="place">
                XO de Chihuahua
              </h4>
            </div>
          </div>

          <div class="imagebox">
            <div class="image  sideimage">
              <img
                src="/images/eventos/puertovallarta-master-02-2018.jpg"
                alt="Seminario de res en Puerto Vallarta">
            </div>
          </div>
          <p>USMEF organizó un seminario teórico dirigido a chefs, gerentes, propietarios y personal de compras de distintos restaurantes y hoteles en Puerto Vallarta, con el objetivo principal de mostrarles los beneficios de la carne de res Americana, misma que podrían potenciar en sus negocios.</p>
          <p>El seminario se llevó a cabo en una cocina abierta donde todos los invitados pudieron observar a nuestro chef corporativo, Germán Navarrete, mientras explicaba los diferentes cortes a preparar y les daba diversos tips para cocinarlos.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de res en Puerto Vallarta',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
