<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de corte y cocción de cerdo y res en Mexicali
          </h1>
          <div class="grid-item">
            <h4 class="date">
              2 de marzo 2018
            </h4>
            <h4 class="place">
              Comercial de Carnes Frías del Norte
            </h4>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/seminario-mexicali.jpg"
                alt="Seminario de corte y cocción de cerdo y res en Mexicali">
            </div>
          </div>
          <p>Nuestro chef corporativo, Germán Navarrete, junto con el consultor de carne roja, Luis Pachuca, impartieron un seminario interactivo de corte y cocción de carne de res y cerdo Americana, brindando nuevas opciones a los asistentes.</p>
          <p>La actividad se llevó a cabo con Comercial de Carnes Frías del Norte, en Mexicali, donde los participantes aprendieron técnicas culinarias y de cocción, además de conocer el origen de cortes como los baseball steaks. También, cocinaron chuletas de cerdo a término medio, lo que permitió que disfrutaran el sabor y jugosidad de la carne.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de corte y cocción de cerdo y res en Mexicali',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
