<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de carne añejada con XO de Chihuahua
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                11 de Julio
              </h4>
            </div>
          </div>

          <p>A este evento asistieron más de 70 chefs, gerentes y dueños de restaurantes en la ciudad de Querétaro, durante el cual, el chef Germán Navarrete habló sobre las características de la carne de res y sobre los productos añejados de los Estados Unidos, así como de los métodos y las tendencias de cocción. </p>
          <div class="imagebox">
            <img class="image is-responsive"
                 src="/images/eventos/julio-xo.jpg"  
                 alt="Seminario de carne añejada con XO de Chihuahua">
          </div>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de carne añejada con XO de Chihuahua',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
