<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de cerdo y res en Cancún
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                20-22 de Junio
              </h4>
            </div>
          </div>

          <p>
            El objetivo de esta serie de seminarios fue capacitar a los trabajadores de importantes hoteles de la región de Cancún y Riviera Maya, sobre los atributos clave de la carne de res y de cerdo de los Estados Unidos, además de brindarles la oportunidad de experimentar los beneficios de estos productos.
          </p>
          <p>
            Más de 100 meseros, parrilleros, cocineros y gerentes de restaurantes aprendieron sobre el manejo correcto de la carne, los métodos de cocción ideales y las tendencias en alimentos, además de brindarles algunas tácticas de venta.
          </p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de ventas especializadas en Querétaro',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
