<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Entrenamiento para el Pork Festival
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                14 de Julio
              </h4>
            </div>
          </div>

          <p>El objetivo de este entrenamiento fue capacitar al personal del Restaurante Hacienda Real de Guatemala sobre el manejo de los cortes de cerdo que se están promocionando en el Festival del Cerdo, por ejemplo: solomillo, porterhouse y "chuletón". Más de 70 miembros del personal participaron en las dos sesiones de capacitación y aprendieron sobre la calidad y atributos del cerdo estadounidense, los términos de cocción, el origen de cada corte y las guarniciones que se servirán en el festival.</p>
          <div class="imagebox">
            <img class="image is-responsive"
                 src="/images/eventos/julio-pork-festival.jpg"  
                 alt="Entrenamiento para el Pork Festival">
          </div>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Entrenamiento para el Pork Festival',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
