<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de frontera en Mexicali
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                25 de Julio
              </h4>
            </div>
          </div>

          <p>USMEF, en conjunto con el Consejo Mexicano de la Carne, llevó a cabo el seminario técnico de frontera (México-Estados Unidos) en Mexicali, dirigido al personal de la Secretaría de Economía, agentes de aduanas, inspectores de agricultura y aduanas (SAT) y empresas de transporte por carretera. Nuestra gerente Alex Valdez habló sobre la nomenclatura y la inspección de carne de res y cerdo americana.</p>
          <div class="imagebox">
            <img class="image is-responsive"
                 src="/images/eventos/julio-frontera.jpg"  
                 alt="Seminario de frontera en Mexicali">
          </div>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de frontera en Mexicali',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
