<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Talleres de cerdo y res con Lainox y Vesuvio
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                18,19 y 20 de Julio
              </h4>
            </div>
          </div>

          <p>El objetivo de estos eventos fue capacitar a los compradores de carne, chefs, gerentes y propietarios de la industria de hoteles y restaurantes, sobre los beneficios del uso de carne de res y cerdo americana para crear platillos de calidad en sus negocios.</p>
          <p>El chef Germán Navarrete expuso sobre las correctas prácticas en la manipulación de la carne y las tendencias gastronómicas, además de realizar una demostración de cortes.</p>
          <div class="imagebox">
            <img 
              class="image is-responsive"
              src="/images/eventos/julio-lainox.jpg"  
              alt="Talleres de cerdo y res con Lainox y Vesuvio">
          </div>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Talleres de cerdo y res con Lainox y Vesuvio',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
