<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de res y cerdo en Cancún
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                24 de Mayo
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image fullwidth">
              <img
                src="/images/eventos/24-mayo.jpg"
                alt="Seminario de res y cerdo en Cancún">
            </div>
          </div>
          <p>El objetivo de esta actividad fue promover los atributos y las características de los productos de carne de res y de cerdo Americanos entre los representantes de la industria hotelera de la zona de Cancún.</p>
          <p>Durante el seminario, más de 40 empleados de cocina tuvieron la oportunidad de probar platillos de calidad preparados con carne Americana. Además, conocieron las características principales de las proteínas presentadas, lo que les permitirá comunicar a sus clientes todos sus beneficios.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de res y cerdo en Cancún',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
