<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de frontera con Comecarne
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                18-19 de Junio
              </h4>
            </div>
          </div>

          <p>
            El Consejo Mexicano de la Carne, en colaboración con USMEF, arrancó en Nogales los seminarios técnicos en la frontera de México y Estados Unidos, dirigidos al personal de la Secretaría de Economía, agentes de aduanas, inspectores de agricultura, inspectores de aduanas (SAT) y empresas de transporte por carretera.
          </p>
          <p>
            El objetivo de estos seminarios, como en años anteriores, es capacitar al personal sobre los temas relevantes en el proceso de importación. Nuestra gerente de Servicios Técnicos, Alejandra Valdez, dio una plática sobre inspección y nomenclatura de carne de res y cerdo americana.
          </p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de frontera con Comecarne',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
