<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Taller de cerdo y res con Vesuvio
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                3, 4 y 5 de Julio
              </h4>
            </div>
          </div>

          <p>El objetivo de este taller fue capacitar al personal de ventas de importadores de foodservice sobre las características y atributos de la carne de cerdo y carne de res americana. Nuestro chef Germán Navarrete presentó información a los asistentes sobre el manejo de la carne, los métodos de cocción y las tendencias gastronómicas.</p>
          <div class="imagebox">
            <img class="image is-responsive"
                 src="/images/eventos/julio-vesuvio.jpg"  
                 alt="Taller de cerdo y res con Vesuvio">
          </div>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Taller de cerdo y res con Vesuvio',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
