<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminarios de corte y cocción de carne de res en Honduras
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                27 de febrero de 2018
              </h4>
              <h4 class="place">
                Restaurante Hacienda Real, Tegucigalpa
              </h4>
            </div>
            <div class="date-grid-item">
              <h4 class="date">
                28 de febrero de 2018
              </h4>
              <h4 class="place">
                Hotel Intercontinental, San Pedro Sula
              </h4>
            </div>
            <div class="date-grid-item">
              <h4 class="date">
                28 de febrero de 2018
              </h4>
              <h4 class="place">
                Restaurante El Portal, San Pedro Sula
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/27-febrero.jpg"
                alt="Seminarios de corte y cocción de carne de res en Honduras">
            </div>
          </div>
          <p>USMEF Centroamérica organizó estos seminarios con el objetivo de que el personal de ventas, de cocina y de administración de sus socios comerciales adquirieran conocimientos generales acerca del origen, cortes, cadena de frío y manejo de la carne de res Americana.</p>
          <p>Los asistentes recibieron una inducción teórica por parte de nuestro consultor, Saúl Bueso, respecto a los atributos, grados de calidad y marmoleo de los cortes. Después, el chef Pablo Lou dio una clase demostrativa con cortes como coulotte, inside and outside skirt, tomahawk, strip loin, short ribs bone and boneless, todos cocinados en distintos términos.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminarios de corte y cocción de carne de res en Honduras',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
