<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de corte y cocción en Ensenada
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                12 de Junio
              </h4>
            </div>
          </div>

          <p>El objetivo de este evento fue mostrar a los participantes la importancia de optimizar cortes primarios de carne de res y cerdo americana para agregar valor a los productos que comercializan. El evento en Valle de Guadalupe, Ensenada, contó con la presencia de asesores, dueños de negocios y gerentes comerciales de La Canasta, uno de los 20 principales importadores de carne americana en México.</p>
          <p>Los asistentes aprendieron los puntos más importantes sobre la industria cárnica de los Estados Unidos y sobre los atributos de la carne de res y cerdo americana, además de cocinar a la parrilla diversos cortes de estas especies.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de corte y cocción en Ensenada',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
