<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminarios de carne de res Americana
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                6 Marzo 2018
              </h4>
              <h4 class="place">
                Atlantic Prime, Riviera Maya y Cancún
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/seminario-res-americana.jpg"
                alt="Seminarios de carne de res Americana">
            </div>
          </div>
          <p>La playa del Caribe mexicano y de Los Cabos, en Baja California, fueron sede de dos seminarios de carne de res Americana, los cuales tuvieron el objetivo de difundir los beneficios de esta proteína entre los chefs, gerentes y compradores de los hoteles y restaurantes de las zonas de Cabo y Riviera Maya.</p>
          <p>Cortes como brisket, short rib, rib eye, top sirloin y tomahawk fueron conocidos durante la actividad teórica impartida por el chef corporativo, Germán Navarrete, quien además habló del proceso de añejamiento de la carne en el seminario en Los Cabos. Posteriormente, los asistentes pudieron degustar los cortes y conversar con el chef para intercambiar consejos que impulsen la calidad de sus negocios.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminarios de carne de res Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
