<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de res y cerdo con Lainox
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                21 de Junio
              </h4>
            </div>
          </div>

          <p>
            Este evento tuvo el objetivo de capacitar a miembros de la industria de hoteles y restaurantes en la Ciudad de México para promover los atributos y beneficios de la carne de res y de cerdo americana.
          </p>
          <p>
            A este evento asistieron 16 compradores de carne, chefs, gerentes y propietarios de la industria, quienes aprendieron del chef Germán Navarrete algunas técnicas de manipulación de la carne, los métodos de cocción y las tendencias en alimentos.
          </p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de ventas especializadas en Querétaro',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
