<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario teórico y práctico sobre carne de res y cerdo Americana
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                15 de Mayo
              </h4>
            </div>
            <div class="date-grid-item">
              <h4 class="date">
                17 de Mayo
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image fullwidth">
              <img
                src="/images/eventos/Sales-seminar-Gdl-9.png"
                alt="Seminario teórico y práctico sobre carne de res y cerdo Americana">
            </div>
          </div>
          <p>USMEF Centroamérica organizó seminarios con sus socios comerciales en El Salvador (Supermercado Despensa Don Juan) y Guatemala (Walmart) con el objetivo de que el personal de las áreas de carnicería, gerencia y supervisores de perecederos tengan los conocimientos básicos sobre el origen, los cortes, la cadena de frío y el manejo de la carne roja estadounidense.</p>
          <p>Ambos grupos recibieron una inducción teórica por parte del consultor de USMEF, Saul Bueso. Después, el chef Pablo Lou brindó una clase demostrativa con cortes como New York, costillas y baby back ribs.</p>
          <p>Para USMEF es importante trabajar con las cadenas de supermercados más importantes de la región, ya que a través de ellas se puede informar a los consumidores finales sobre los beneficios de la carne de res y de cerdo Americana.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
