<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de etiquetados para la industria de embutidos
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                7 de marzo 2018
              </h4>
              <h4 class="place">
                Asociación de fabricantes de embutidos y carne procesada
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/seminario-embutidos.jpg"
                alt="Seminario de etiquetados para la industria de embutidos">
            </div>
          </div>
          <p>Con el objetivo de informar a los miembros de la industria cárnica sobre los requisitos, procedimientos y regulaciones requeridos por el ministerio de salud y agricultura para poder etiquetar productos empaquetados y venderlos al consumidor final, se llevaron a cabo distintas conferencias en la Cámara de la Industria en Guatemala, a las cuales asistieron 30 empresas de la región.</p>
          <p>USMEF fue uno de los patrocinadores de esta actividad y participó con un stand informativo durante el evento, donde difundió materiales educativos sobre la carne de cerdo Americana.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
