<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de corte y cocción de carne de cerdo y res Americana
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                19 de abril
              </h4>
              <h4 class="place">
                Instituto Culinario de México, Monterrey
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image fullwidth">
              <img
                src="/images/eventos/seminarop-monterrey.jpg"
                alt="Seminario de res y cerdo Americana">
            </div>
          </div>
          <p>Este seminario se llevó a cabo en el Instituto Culinario de México, ubicado en Monterrey, una importante ciudad del norte que es uno de los principales mercados en México para la carne de res y de cerdo Americana.</p>
          <p>El objetivo fue comunicar a los 32 participantes, que representaron a los importadores de la región, la importancia de optimizar el uso de cortes primarios de res y cerdo.</p>
          <p>El seminario tuvo una sesión teórica, en la cual el consultor de USMEF, Luis Pachuca, habló sobre la industria cárnica de Estados Unidos. Después, enseñó a los participantes cómo obtener cortes al estilo estadounidense: shoulder clod, top sirloin, Boston butt y bone in loin, con el objetivo de agregar valor a los productos que importan de los Estados Unidos.</p>
          <p>Posteriormente, el chef corporativo, Germán Navarrete, les mostró cómo cocinar los cortes y presentó algunas sugerencias culinarias como pechuga de res al horno e hígado cocinado en salsa de albaricoque.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
