<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminarios de corte y cocción de carne de res en República Dominicana
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                13, 14 Marzo 2018
              </h4>
              <h4 class="place">
                Supermercado CCN, Santo Domingo<br>
                Supermercado Ramos, Santo Domingo
              </h4>
            </div>
            <div class="date-grid-item">
              <h4 class="date">
                13 Marzo 2018
              </h4>
              <h4 class="place">
                Supermercado Bravo, Santo Domingo
              </h4>
            </div>
          </div>

          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/seminario-republica-dominicana.jpg"
                alt="Seminarios de corte y cocción de carne de res en República Dominicana">
            </div>
          </div>
          <p>Con la meta de afianzar el mercado de exportación en República Dominicana, se llevaron a cabo seminarios de corte y cocción de carne de res Americana para los supermercados más importantes en la ciudad de Santo Domingo. El objetivo fue capacitar al personal de carnicería acerca del origen, cortes, cadena de frío y manejo de la carne.</p>
          <p>En primera instancia, el consultor cárnico, Saúl Bueso, les habló al respecto de los atributos, grados de calidad y marmoleo de la carne de res Americana, para después, con el apoyo del chef Pablo Lou, llevar a la práctica lo aprendido con cortes como coulotte, rib eye, chuck roll and top sirloin.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
