<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de res y cerdo Americana
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                11 de abril
              </h4>
              <h4 class="place">
                Walmart y La Colonia
              </h4>
            </div>
            <div class="date-grid-item">
              <h4 class="date">
                12 de abril
              </h4>
              <h4 class="place">
                La Torre
              </h4>
            </div>
          </div>

          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/11-abril-seminario.jpg"
                alt="Seminario de res y cerdo Americana">
            </div>
          </div>
          <p>USMEF Centroamérica organizó un seminario para brindar los conocimientos básicos sobre el origen, cortes, cadena de frío y manejo de la carne de cerdo y res Americana al personal que promoverá los productos cárnicos estadounidenses en las tiendas de autoservicio La Torre, en Guatemala.</p>
          <p>El seminario también tuvo una sesión práctica y los promotores tuvieron la oportunidad de cocinar los productos que ofrecerán en punto de venta.</p>
          <p>La Torre es la cadena local más grande de Guatemala con 74 tiendas en el país, lo que incrementó sus ventas de carne de cerdo en un 49% y sus ventas de carne res en un 65% en 2017.</p>
          <p>De igual forma, se llevó a cabo este seminario con los promotores que difundirán los beneficios y atributos de la carne Americana en las tiendas Walmart de Guatemala, Nicaragua y El Salvador, así como en los supermercados La Colonia, en Honduras.</p>
          <p>Walmart es el principal importador de carne de cerdo y la cadena de supermercados más grande de la región de Centroamérica. Por su parte, La Colonia es la cadena local más grande de Honduras y una de las cinco principales importadoras de carne de cerdo de ese país.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
