<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Seminario de corte y cocción de cerdo y res en Puebla
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                16 de marzo
              </h4>
              <h4 class="place">
                Restaurante Gardela
              </h4>
            </div>
          </div>
          <div class="imagebox">
            <div class="image sideimage">
              <img
                src="/images/eventos/seminario-corte-puebla.jpg"
                alt="Seminario de corte y cocción de cerdo y res en Puebla">
            </div>
          </div>
          <p>El objetivo de esta actividad fue capacitar al personal del restaurante Gardela (meseros, parrilleros, cocineros, gerente y propietarios) sobre los atributos y características clave de los productos de carne de res Americana, que experimentaran sus beneficios y crearan platillos de calidad para sus clientes.</p>
          <p>El chef Germán Navarrete presentó los atributos y características de la carne de res Americana y la importancia de su correcta manipulación dentro y fuera de la cocina. Además, habló sobre los métodos de cocción, tendencias en restaurantes y se sugirieron técnicas de venta para productos de carne de Estados Unidos.</p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Seminario de importación de carne de cerdo Americana',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
