<template lang="html">
  <div>
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        <nuxt-link to="/calendario">
          Eventos
        </nuxt-link>
      </span>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title is-1">
            Taller “Parrilla Bien Padre”
          </h1>
          <div class="date-grid">
            <div class="date-grid-item">
              <h4 class="date">
                8 de Junio
              </h4>
            </div>
          </div>
          <p>
            Esta actividad tuvo lugar en Aguascalientes con el apoyo de nuestros socios comerciales Obrador San Pancho y Empacadora San Francisco. Esta región es un mercado en crecimiento con una gran demanda de carne de res y cerdo, sobretodo con cortes que se pueden hacer a la parrilla.
          </p>
          <p>
            El objetivo del taller fue mostrarle a los clientes de las empresas invitadas los principales beneficios de la carne de res y cerdo americana. Más de 38 personas asistieron a este evento, principalmente cocineros, restauranteros y hoteleros, distribuidores y consumidores finales, quienes fueron guiados por el chef Paul Aguilar al realizar diversos platillos con diferentes cortes de res y cerdo, así como con productos procesados hechos con materia prima de carne de los Estados Unidos.
          </p>
        </div>
        <div class="column">
          <h5 class="title is-5">
            Otros Eventos
          </h5>
          <calendar-shortcut />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CalendarShortcut from '~/components/CalendarShortcut.vue'

export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Taller “Parrilla Bien Padre”',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  components: {
    CalendarShortcut,
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>
