<template lang="html">
  <div class="pg-evento-index">
    <!-- eslint-disable max-len -->
    <div class="breadcrumb">
      <nuxt-link
        to="/"
        class="path">
        Inicio
      </nuxt-link>
      <span class="separator">
        /
      </span>
      <span class="current">
        Eventos
      </span>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-1 has-text-centered">
            Eventos
          </h1>
          <a
            href="/calendario"
            class="button is-button is-righty">
            Calendario
          </a>
          <h3 class="title is-h3">
            Enero
          </h3>
          <ul class="event-list">
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/01-19-2018/">
                Seminario de importación de carne de cerdo Americana<br>
                <span class="industria">
                  Centroamérica
                </span><br>
                <span class="date">
                  19 de enero / Walmart Roosevelt
                </span>
              </a>
            </li>
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/01-25-2018/">
                Beef Grill Master<br>
                <span class="industria">
                  Centroamérica
                </span><br>
                <span class="date">
                  25 de enero / Restaurante Hacienda Real
                </span>
              </a>
            </li>
          </ul>
          <h3 class="title is-h3">
            Febrero
          </h3>
          <ul class="event-list">
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/02-09-2018/">
                Seminarios teóricos de carne de res Americana<br>
                <span class="industria">
                  Centroamérica
                </span><br>
                <span class="date">
                  9 de febrero de 2018 / Belca Guatemala <br> 15 de febrero de 2018 / Procasa Guatemala
                </span>
              </a>
            </li>
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/02-12-2018/">
                Seminarios teórico prácticos de carne de res y cerdo Americana<br>
                <span class="industria">
                  Centroamérica
                </span><br>
                <span class="date">
                  12 de febrero de 2018 / Suministros y Alimentos Guatemala / Cerdo<br>
                  16 de febrero de 2018 / Grupo Buena Guatemala / Res<br>
                  19 de febrero de 2018 / Grupo Buena Guatemala / Cerdo
                </span>
              </a>
            </li>
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/02-27-2018/">
                Seminarios de corte y cocción de carne de res en Honduras<br>
                <span class="industria">
                  Centroamérica
                </span><br>
                <span class="date">
                  27 de febrero de 2018 / Restaurante Hacienda Real, Tegucigalpa<br>
                  28 de febrero de 2018 / Hotel Intercontinental, San Pedro Sula<br>
                  28 de febrero de 2018 / Restaurante El Portal, San Pedro Sula
                </span>
              </a>
            </li>
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/02-14-2018/">
                Convención Anual del Consejo Mexicano de la Carne (Comecarne)<br>
                <span class="industria">
                  Servicios Técnicos
                </span><br>
                <span class="date">
                  14, 15 y 16 de febrero / Comecarne
                </span>
              </a>
            </li>
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/02-24-2018/">
                Seminario de res en Puerto Vallarta<br>
                <span class="industria">
                  HRI
                </span><br>
                <span class="date">
                  24 de febrero / XO de Chihuahua
                </span>
              </a>
            </li>
          </ul>
          <h3 class="title is-h3">
            Marzo
          </h3>
          <ul class="event-list">
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/03-02-2018/">
                Seminario de corte y cocción de cerdo y res en Mexicali<br>
                <span class="industria">
                  Trade
                </span><br>
                <span class="date">
                  2 de marzo / Comercial de Carnes Frías del Norte
                </span>
              </a>
            </li>
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/03-06-2018/">
                Expo ANTAD & Alimenaria 2018 en Guadalajara<br>
                <span class="industria">
                  Retail
                </span><br>
                <span class="date">
                  6, 7 y 8 de marzo / JBS, National Beef, Cargill y Tyson
                </span>
              </a>
            </li>
            <li>
              <i class="far fa-calendar" />
              <a href="/eventos/03-07-2018/">
                Seminario de etiquetados para la industria de embutidos<br>
                <span class="industria">
                  Retail
                </span><br>
                <span class="date">
                  7 de marzo / Asociación de fabricantes de embutidos y carne procesada
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Eventos',
  head() {
    return {
      title: 'Eventos',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Conoce los eventos de USMEF',
        },
      ],
    }
  },
  data() {
    return {
      showcalendar: false,
    }
  },
}
</script>

<style lang="scss">
.pg-evento-index {
  .eventlink {
    font-size: 2rem;
  }

  .is-righty {
    float: right;
  }
}
</style>
