<template lang="html">
  <!-- eslint-disable max-len -->
  <div class="course-index">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Demostración personalizada de cortes de carne roja Americana
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Chefs de la industra<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Elige los cortes y conoce sobre su origen y tips de cocción.
          <p class="tags">
            <a href="#">
              #res
            </a> <a href="#">
              #cerdo
            </a> <a href="#">
              #cordero
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> egonzalez@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Capacitación sobre la industria cárnica Americana
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria <br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Conoce el proceso de producción de la industria cárnica Americana.
          <p class="tags">
            <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> egonzalez@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--endcards-->
  </div>
</template>
<script>
export default {
  name: 'EducacionCapacitacion',
  head() {
    return {
      title: 'Educación y Capacitación',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
}
</script>
