<template lang="html">
  <div class="course-index">
    <!-- eslint-disable max-len -->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Grill Academy workshops
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Consumidores<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Aprende sobre las propiedades de la carne de res y cerdo Americana y prepara cortes a la parrilla.
          <p class="tags">
            <a href="#">
              #res
            </a> <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> jgarcia@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Capacitación de rendimiento y cortes
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria (cadenas de autoservicio)<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Conoce el proceso de obtención de cortes y su rendimiento.
          <p class="tags">
            <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> jgarcia@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Capacitación sobre cortes procesados y cadena de frío
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria (cadenas de autoservicio)<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Aprende sobre la presentación de productos para venta al cliente y el manejo de temperaturas.
          <p class="tags">
            <a href="#">
              #res
            </a> <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> jgarcia@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--endcards-->
  </div>
</template>
<script>
export default {
  name: 'EducacionCapacitacion',
  head() {
    return {
      title: 'Educación y Capacitación',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
}
</script>
