<template lang="html">
  <!-- eslint-disable max-len -->
  <div class="course-index">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Seminario de Frontera
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria, agentes aduanales, SAT y Senasica<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Actualiza tus conocimientos sobre la importación de cárnicos.
          <p class="tags">
            <a href="#">
              #res
            </a> <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> avaldez@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Seminario de Corte y Cocción
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria <br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Conoce cómo obtener los cortes y los tipos de cocción ideales para cada uno de ellos.
          <p class="tags">
            <a href="#">
              #res
            </a> <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> consultor1_CA@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Grill Academy workshops
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Consumidores <br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Aprende sobre las propiedades de la carne de res y cerdo Americana y prepara cortes a la parrilla.
          <p class="tags">
            <a href="#">
              #res
            </a> <a href="#">
              #cerdo
            </a>x
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> consultor1_CA@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--endcards-->
  </div>
</template>
<script>
export default {
  name: 'PageEducacionCapacitacionServiciosTecnicos',
  head() {
    return {
      title: 'Educación y Capacitación',
      meta: [
        {
          hid: 'description',
          name: 'Usmef',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
}
</script>
