<template lang="html">
  <!-- eslint-disable max-len -->
  <div class="course-index">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Seminario de Corte y Cocción
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Conoce cómo obtener los cortes y los tipos de cocción ideales para cada uno de ellos
          <p class="tags">
            <a href="#">
              #res
            </a> <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> lelizalde@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Escuela de Carniceros
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Forma parte de un curso de cortes y técnicas de preparación a la parrilla.
          <p class="tags">
            <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> lelizalde@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Seminario de ventas y atributos de la carne de cerdo
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Aprende técnicas de vanguardia en el área de ventas y conoce los beneficios de la carne de cerdo.
          <p class="tags">
            <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> lelizalde@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Propiedades químicas y culinarias de la carne de cerdo
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Nutriólogos<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Conoce las bases científicas sobre los atributos de la carne de cerdo y cómo aprovecharla culinariamente
          <p class="tags">
            <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> lelizalde@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Festival del taco al pastor
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Consumidores<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Asiste al certamen de carne al pastor y elige tu favorito.
          <p class="tags">
            <a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> lelizalde@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Grill Academy workshops
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Consumidores<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Aprende sobre las propiedades de la carne de res y cerdo Americana y prepara cortes a la parrilla.
          <p class="tags">
            <a href="#">
              #res
            </a><a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> lelizalde@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--card-->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="/images/eventos/generic.jpg"
            alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              Diplomado de certificación en carne roja Americanas
            </p>
          </div>
        </div>

        <div class="content">
          <span class="has-text-weight-bold">
            ¿A quién va dirigido?
          </span> Miembros de la industria<br>
          <span class="has-text-weight-bold">
            Descripción:
          </span> Profundiza sobre el proceso de producción de carne roja Americana y certifícate.
          <p class="tags">
            <a href="#">
              #res
            </a><a href="#">
              #cerdo
            </a>
          </p>
          <p>
            <span class="has-text-weight-bold">
              Contáctanos:
            </span> lelizalde@usmef.org
          </p>
        </div>
      </div>
    </div>
    <!--endcards-->
  </div>
</template>
<script>
export default {
  name: 'EducacionCapacitacion',
  head() {
    return {
      title: 'Educación y Capacitación',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Educación y capacitación USMEF',
        },
      ],
    }
  },
}
</script>
